## 05. Selecting and transformations

### Selecting columns using `[]`

In [1]:
import polars as pl
csv_file = './data/titanic.csv'
df = pl.read_csv(csv_file)
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

#### Choosing columns with square brackets

In [2]:
df['Age'].head()

shape: (10,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
	35.0
	35.0
	null
	54.0
	2.0
	27.0
	14.0
]

In [3]:
df[['Survived', 'Age']].head()

shape: (5, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
│ 1        ┆ 35.0 │
│ 0        ┆ 35.0 │
└──────────┴──────┘

`[]`로 하는 indexing은 pandas와 비슷해서 패스...

### Selecting columns : using `select` and expressions

In [4]:
(
    df
    .select(
        'Age', 'Survived'
    )
    .head()
)

shape: (5, 2)
┌──────┬──────────┐
│ Age  ┆ Survived │
│ ---  ┆ ---      │
│ f64  ┆ i64      │
╞══════╪══════════╡
│ 22.0 ┆ 0        │
│ 38.0 ┆ 1        │
│ 26.0 ┆ 1        │
│ 35.0 ┆ 1        │
│ 35.0 ┆ 0        │
└──────┴──────────┘

#### Selecting and transforming a column with an expression

We can apply a transformation to a column before we output it. <p>
In this example we use the `round` expression to round the values of the `Fare` column

In [5]:
(
    df
    .select(
        pl.col('Fare')
    )
    .head()
)

shape: (5, 1)
┌─────────┐
│ Fare    │
│ ---     │
│ f64     │
╞═════════╡
│ 7.25    │
│ 71.2833 │
│ 7.925   │
│ 53.1    │
│ 8.05    │
└─────────┘

In [6]:
(
    df
    .select(
        pl.col('Fare').round(0)
    )
    .head()
)

shape: (5, 1)
┌──────┐
│ Fare │
│ ---  │
│ f64  │
╞══════╡
│ 7.0  │
│ 71.0 │
│ 8.0  │
│ 53.0 │
│ 8.0  │
└──────┘

In [7]:
(
    df
    .select(
        pl.col('Fare').round(0).alias('roundedFare') # .alias로 이름 변경까지...
    )
    .head()
)

shape: (5, 1)
┌─────────────┐
│ roundedFare │
│ ---         │
│ f64         │
╞═════════════╡
│ 7.0         │
│ 71.0        │
│ 8.0         │
│ 53.0        │
│ 8.0         │
└─────────────┘

In [8]:
(
    df
    .select(
        pl.col('Fare'),
        pl.col('Fare').round(0).alias('roundedFare')
        # , 으로 여러개 선택 가능..
    )
    .head(3)
)

shape: (3, 2)
┌─────────┬─────────────┐
│ Fare    ┆ roundedFare │
│ ---     ┆ ---         │
│ f64     ┆ f64         │
╞═════════╪═════════════╡
│ 7.25    ┆ 7.0         │
│ 71.2833 ┆ 71.0        │
│ 7.925   ┆ 8.0         │
└─────────┴─────────────┘

In [10]:
# single value
(
    df
    .select(
        pl.col('Name').first()
    )
    .item() # 값만 출력 오직 (1, 1) shape만 가능!!!
)

'Braund, Mr. Owen Harris'

In [14]:
(
    df
    .select(
        'Name'
    )
    .to_series()
    .to_list()
)

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Saundercock, Mr. William Henry',
 'Andersson, Mr. Anders Johan',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Rice, Master. Eugene',
 'Williams, Mr. Charles Eugene',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'Fynney, Mr. Joseph J',
 'Beesley, Mr. Lawrence',
 'McGowan, Miss. Anna "Annie"',
 'Sloper, Mr. William Thompson',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Emir, Mr. Farred Chehab',
 'Fortune, Mr. Charles Alexander',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Todoroff, Mr. Lalio',
 'Uruchurtu, Don. Manuel E',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Wheadon, Mr. Edward H',
 'Meyer, Mr. Edgar Joseph',
 'Holverson, Mr. Alexander Oskar',
 'Mamee, Mr. Hanna',
 'Cann, Mr. Ernest Charles',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Kraeff, Mr. Theodor',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 'Rogers, Mr. William John',
 'Lennon, Mr. Denis',
 "O'Driscoll, Miss. Bridget",
 'Samaan, Mr. Youssef',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Panula, Master. Juha Niilo',
 'Nosworthy, Mr. Richard Cater',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Ostby, Mr. Engelhart Cornelius',
 'Woolner, Mr. Hugh',
 'Rugg, Miss. Emily',
 'Novel, Mr. Mansouer',
 'West, Miss. Constance Mirium',
 'Goodwin, Master. William Frederick',
 'Sirayanian, Mr. Orsen',
 'Icard, Miss. Amelie',
 'Harris, Mr. Henry Birkhardt',
 'Skoog, Master. Harald',
 'Stewart, Mr. Albert A',
 'Moubarek, Master. Gerios',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Crease, Mr. Ernest James',
 'Andersson, Miss. Erna Alexandra',
 'Kink, Mr. Vincenz',
 'Jenkin, Mr. Stephen Curnow',
 'Goodwin, Miss. Lillian Amy',
 'Hood, Mr. Ambrose Jr',
 'Chronopoulos, Mr. Apostolos',
 'Bing, Mr. Lee',
 'Moen, Mr. Sigurd Hansen',
 'Staneff, Mr. Ivan',
 'Moutal, Mr. Rahamin Haim',
 'Caldwell, Master. Alden Gates',
 'Dowdell, Miss. Elizabeth',
 'Waelens, Mr. Achille',
 'Sheerlinck, Mr. Jan Baptist',
 'McDermott, Miss. Brigdet Delia',
 'Carrau, Mr. Francisco M',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Ford, Mr. William Neal',
 'Slocovski, Mr. Selman Francis',
 'Fortune, Miss. Mabel Helen',
 'Celotti, Mr. Francesco',
 'Christmann, Mr. Emil',
 'Andreasson, Mr. Paul Edvin',
 'Chaffee, Mr. Herbert Fuller',
 'Dean, Mr. Bertram Frank',
 'Coxon, Mr. Daniel',
 'Shorney, Mr. Charles Joseph',
 'Goldschmidt, Mr. George B',
 'Greenfield, Mr. William Bertram',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Kantor, Mr. Sinai',
 'Petranec, Miss. Matilda',
 'Petroff, Mr. Pastcho ("Pentcho")',
 'White, Mr. Richard Frasar',
 'Johansson, Mr. Gustaf Joel',
 'Gustafsson, Mr. Anders Vilhelm',
 'Mionoff, Mr. Stoytcho',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moss, Mr. Albert Johan',
 'Rekic, Mr. Tido',
 'Moran, Miss. Bertha',
 'Porter, Mr. Walter Chamberlain',
 'Zabour, Miss. Hileni',
 'Barton, Mr. David John',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Pekoniemi, Mr. Edvard',
 'Connors, Mr. Patrick',
 'Turpin, Mr. William John Robert',
 'Baxter, Mr. Quigg Edmond',
 'Andersson, Miss. Ellis Anna Maria',
 'Hickman, Mr. Stanley George',
 'Moore, Mr. Leonard Charles',
 'Nasser, Mr. Nicholas',
 'Webber, Miss. Susan',
 'White, Mr. Percival Wayland',
 'Nicola-Yarred, Master. Elias',
 'McMahon, Mr. Martin',
 'Madsen, Mr. Fridtjof Arne',
 'Peter, Miss. Anna',
 'Ekstrom, Mr. Johan',
 'Drazenoic, Mr. Jozef',
 'Coelho, Mr. Domingos Fernandeo',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Sobey, Mr. Samuel James Hayden',
 'Richard, Mr. Emile',
 'Newsom, Miss. Helen Monypeny',
 'Futrelle, Mr. Jacques Heath',
 'Osen, Mr. Olaf Elon',
 'Giglio, Mr. Victor',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Burke, Mr. Jeremiah',
 'Andrew, Mr. Edgardo Samuel',
 'Nicholls, Mr. Joseph Charles',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Navratil, Mr. Michel ("Louis M Hoffman")',
 'Byles, Rev. Thomas Roussel Davids',
 'Bateman, Rev. Robert James',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Meo, Mr. Alfonzo',
 'van Billiard, Mr. Austin Blyler',
 'Olsen, Mr. Ole Martin',
 'Williams, Mr. Charles Duane',
 'Gilnagh, Miss. Katherine "Katie"',
 'Corn, Mr. Harry',
 'Smiljanic, Mr. Mile',
 'Sage, Master. Thomas Henry',
 'Cribb, Mr. John Hatfield',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Bengtsson, Mr. John Viktor',
 'Calic, Mr. Jovo',
 'Panula, Master. Eino Viljami',
 'Goldsmith, Master. Frank John William "Frankie"',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Baumann, Mr. John D',
 'Ling, Mr. Lee',
 'Van der hoef, Mr. Wyckoff',
 'Rice, Master. Arthur',
 'Johnson, Miss. Eleanor Ileen',
 'Sivola, Mr. Antti Wilhelm',
 'Smith, Mr. James Clinch',
 'Klasen, Mr. Klas Albin',
 'Lefebre, Master. Henry Forbes',
 'Isham, Miss. Ann Elizabeth',
 'Hale, Mr. Reginald',
 'Leonard, Mr. Lionel',
 'Sage, Miss. Constance Gladys',
 'Pernot, Mr. Rene',
 'Asplund, Master. Clarence Gustaf Hugo',
 'Becker, Master. Richard F',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Rood, Mr. Hugh Roscoe',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Bourke, Mr. John',
 'Turcin, Mr. Stjepan',
 'Pinsky, Mrs. (Rosa)',
 'Carbines, Mr. William',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Navratil, Master. Michel M',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Mernagh, Mr. Robert',
 'Olsen, Mr. Karl Siegwart Andreas',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Vande Walle, Mr. Nestor Cyriel',
 'Sage, Mr. Frederick',
 'Johanson, Mr. Jakob Alfred',
 'Youseff, Mr. Gerious',
 'Cohen, Mr. Gurshon "Gus"',
 'Strom, Miss. Telma Matilda',
 'Backstrom, Mr. Karl Alfred',
 'Albimona, Mr. Nassef Cassem',
 'Carr, Miss. Helen "Ellen"',
 'Blank, Mr. Henry',
 'Ali, Mr. Ahmed',
 'Cameron, Miss. Clear Annie',
 'Perkin, Mr. John Henry',
 'Givard, Mr. Hans Kristensen',
 'Kiernan, Mr. Philip',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Jacobsohn, Mr. Sidney Samuel',
 'Bazzani, Miss. Albina',
 'Harris, Mr. Walter',
 'Sunderland, Mr. Victor Francis',
 'Bracken, Mr. James H',
 'Green, Mr. George Henry',
 'Nenkoff, Mr. Christo',
 'Hoyt, Mr. Frederick Maxfield',
 'Berglund, Mr. Karl Ivar Sven',
 'Mellors, Mr. William John',
 'Lovell, Mr. John Hall ("Henry")',
 'Fahlstrom, Mr. Arne Jonas',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Larsson, Mr. Bengt Edvin',
 'Sjostedt, Mr. Ernst Adolf',
 'Asplund, Miss. Lillian Gertrud',
 'Leyson, Mr. Robert William Norman',
 'Harknett, Miss. Alice Phoebe',
 'Hold, Mr. Stephen',
 'Collyer, Miss. Marjorie "Lottie"',
 'Pengelly, Mr. Frederick William',
 'Hunt, Mr. George Henry',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Coleridge, Mr. Reginald Charles',
 'Maenpaa, Mr. Matti Alexanteri',
 'Attalah, Mr. Sleiman',
 'Minahan, Dr. William Edward',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Beckwith, Mr. Richard Leonard',
 'Carter, Rev. Ernest Courtenay',
 'Reed, Mr. James George',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Stead, Mr. William Thomas',
 'Lobb, Mr. William Arthur',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Smith, Mr. Thomas',
 'Asplund, Master. Edvin Rojj Felix',
 'Taussig, Mr. Emil',
 'Harrison, Mr. William',
 'Henry, Miss. Delia',
 'Reeves, Mr. David',
 'Panula, Mr. Ernesti Arvid',
 'Persson, Mr. Ernst Ulrik',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Cairns, Mr. Alexander',
 'Tornquist, Mr. William Henry',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Natsch, Mr. Charles H',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Parkes, Mr. Francis "Frank"',
 'Rice, Master. Eric',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Duane, Mr. Frank',
 'Olsson, Mr. Nils Johan Goransson',
 'de Pelsmaeker, Mr. Alfons',
 'Dorking, Mr. Edward Arthur',
 'Smith, Mr. Richard William',
 'Stankovic, Mr. Ivan',
 'de Mulder, Mr. Theodore',
 'Naidenoff, Mr. Penko',
 'Hosono, Mr. Masabumi',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Levy, Mr. Rene Jacques',
 'Haas, Miss. Aloisia',
 'Mineff, Mr. Ivan',
 'Lewy, Mr. Ervin G',
 'Hanna, Mr. Mansour',
 'Allison, Miss. Helen Loraine',
 'Saalfeld, Mr. Adolphe',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'McCoy, Mr. Bernard',
 'Johnson, Mr. William Cahoone Jr',
 'Keane, Miss. Nora A',
 'Williams, Mr. Howard Hugh "Harry"',
 'Allison, Master. Hudson Trevor',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Abelson, Mr. Samuel',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Hendekovic, Mr. Ignjac',
 'Hart, Mr. Benjamin',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Moraweck, Dr. Ernest',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Dennis, Mr. Samuel',
 'Danoff, Mr. Yoto',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Sage, Mr. George John Jr',
 'Young, Miss. Marie Grice',
 'Nysveen, Mr. Johan Hansen',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Partner, Mr. Austen',
 'Graham, Mr. George Edward',
 'Vander Planke, Mr. Leo Edmondus',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Denkoff, Mr. Mitto',
 'Pears, Mr. Thomas Clinton',
 'Burns, Miss. Elizabeth Margaret',
 'Dahl, Mr. Karl Edwart',
 'Blackwell, Mr. Stephen Weart',
 'Navratil, Master. Edmond Roger',
 'Fortune, Miss. Alice Elizabeth',
 'Collander, Mr. Erik Gustaf',
 'Sedgwick, Mr. Charles Frederick Waddington',
 'Fox, Mr. Stanley Hubert',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Coutts, Master. William Loch "William"',
 'Dimic, Mr. Jovan',
 'Odahl, Mr. Nils Martin',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Elias, Mr. Tannous',
 'Arnold-Franchi, Mr. Josef',
 'Yousif, Mr. Wazli',
 'Vanden Steen, Mr. Leo Peter',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Skoog, Mr. Wilhelm',
 'del Carlo, Mr. Sebastiano',
 'Barbara, Mrs. (Catherine David)',
 'Asim, Mr. Adola',
 "O'Brien, Mr. Thomas",
 'Adahl, Mr. Mauritz Nils Martin',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Harder, Mr. George Achilles',
 'Wiklund, Mr. Jakob Alfred',
 'Beavan, Mr. William Thomas',
 'Ringhini, Mr. Sante',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Widener, Mr. Harry Elkins',
 'Betros, Mr. Tannous',
 'Gustafsson, Mr. Karl Gideon',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Tikkanen, Mr. Juho',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Plotcharsky, Mr. Vasil',
 'Davies, Mr. Charles Henry',
 'Goodwin, Master. Sidney Leonard',
 'Buss, Miss. Kate',
 'Sadlier, Mr. Matthew',
 'Lehmann, Miss. Bertha',
 'Carter, Mr. William Ernest',
 'Jansson, Mr. Carl Olof',
 'Gustafsson, Mr. Johan Birger',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Johansson, Mr. Erik',
 'Olsson, Miss. Elina',
 'McKane, Mr. Peter David',
 'Pain, Dr. Alfred',
 'Trout, Mrs. William H (Jessie L)',
 'Niskanen, Mr. Juha',
 'Adams, Mr. John',
 'Jussila, Miss. Mari Aina',
 'Hakkarainen, Mr. Pekka Pietari',
 'Oreskovic, Miss. Marija',
 'Gale, Mr. Shadrach',
 'Widegren, Mr. Carl/Charles Peter',
 'Richards, Master. William Rowe',
 'Birkeland, Mr. Hans Martin Monsen',
 'Lefebre, Miss. Ida',
 'Sdycoff, Mr. Todor',
 'Hart, Mr. Henry',
 'Minahan, Miss. Daisy E',
 'Cunningham, Mr. Alfred Fleming',
 'Sundman, Mr. Johan Julian',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Matthews, Mr. William John',
 'Van Impe, Miss. Catharina',
 'Gheorgheff, Mr. Stanio',
 'Charters, Mr. David',
 'Zimmerman, Mr. Leo',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Rosblom, Mr. Viktor Richard',
 'Wiseman, Mr. Phillippe',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Flynn, Mr. James',
 'Pickard, Mr. Berk (Berk Trembisky)',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Kallio, Mr. Nikolai Erland',
 'Silvey, Mr. William Baird',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Fortune, Mr. Mark',
 'Kvillner, Mr. Johan Henrik Johannesson',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Hampe, Mr. Leon',
 'Petterson, Mr. Johan Emil',
 'Reynaldo, Ms. Encarnacion',
 'Johannesen-Bratthammer, Mr. Bernt',
 'Dodge, Master. Washington',
 'Mellinger, Miss. Madeleine Violet',
 'Seward, Mr. Frederic Kimber',
 'Baclini, Miss. Marie Catherine',
 'Peuchen, Major. Arthur Godfrey',
 'West, Mr. Edwy Arthur',
 'Hagland, Mr. Ingvald Olai Olsen',
 'Foreman, Mr. Benjamin Laventall',
 'Goldenberg, Mr. Samuel L',
 'Peduzzi, Mr. Joseph',
 'Jalsevac, Mr. Ivan',
 'Millet, Mr. Francis Davis',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 "O'Connor, Mr. Maurice",
 'Anderson, Mr. Harry',
 'Morley, Mr. William',
 'Gee, Mr. Arthur H',
 'Milling, Mr. Jacob Christian',
 'Maisner, Mr. Simon',
 'Goncalves, Mr. Manuel Estanslas',
 'Campbell, Mr. William',
 'Smart, Mr. John Montgomery',
 'Scanlan, Mr. James',
 'Baclini, Miss. Helene Barbara',
 'Keefe, Mr. Arthur',
 'Cacic, Mr. Luka',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Clifford, Mr. George Quincy',
 'Renouf, Mr. Peter Henry',
 'Braund, Mr. Lewis Richard',
 'Karlsson, Mr. Nils August',
 'Hirvonen, Miss. Hildur E',
 'Goodwin, Master. Harold Victor',
 'Frost, Mr. Anthony Wood "Archie"',
 'Rouse, Mr. Richard Henry',
 'Turkula, Mrs. (Hedwig)',
 'Bishop, Mr. Dickinson H',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Kent, Mr. Edward Austin',
 'Somerton, Mr. Francis William',
 'Coutts, Master. Eden Leslie "Neville"',
 'Hagland, Mr. Konrad Mathias Reiersen',
 'Windelov, Mr. Einar',
 'Molson, Mr. Harry Markland',
 'Artagaveytia, Mr. Ramon',
 'Stanley, Mr. Edward Roland',
 'Yousseff, Mr. Gerious',
 'Eustis, Miss. Elizabeth Mussey',
 'Shellard, Mr. Frederick William',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Svensson, Mr. Olof',
 'Calic, Mr. Petar',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Bradley, Mr. George ("George Arthur Brayton")',
 'Olsen, Mr. Henry Margido',
 'Lang, Mr. Fang',
 'Daly, Mr. Eugene Patrick',
 'Webber, Mr. James',
 'McGough, Mr. James Robert',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Coleff, Mr. Satio',
 'Walker, Mr. William Anderson',
 'Lemore, Mrs. (Amelia Milley)',
 'Ryan, Mr. Patrick',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Pavlovic, Mr. Stefo',
 'Perreault, Miss. Anne',
 'Vovk, Mr. Janko',
 'Lahoud, Mr. Sarkis',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Kassem, Mr. Fared',
 'Farrell, Mr. James',
 'Ridsdale, Miss. Lucy',
 'Farthing, Mr. John',
 'Salonen, Mr. Johan Werner',
 'Hocking, Mr. Richard George',
 'Quick, Miss. Phyllis May',
 'Toufik, Mr. Nakli',
 'Elias, Mr. Joseph Jr',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'Butt, Major. Archibald Willingham',
 'LeRoy, Miss. Bertha',
 'Risien, Mr. Samuel Beard',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mr. Edward',
 'Douglas, Mr. Walter Donald',
 'Nicholson, Mr. Arthur Ernest',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Padro y Manent, Mr. Julian',
 'Goldsmith, Mr. Frank John',
 'Davies, Master. John Morgan Jr',
 'Thayer, Mr. John Borland Jr',
 'Sharp, Mr. Percival James R',
 "O'Brien, Mr. Timothy",
 'Leeni, Mr. Fahim ("Philip Zenni")',
 'Ohman, Miss. Velin',
 'Wright, Mr. George',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Robbins, Mr. Victor',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Morrow, Mr. Thomas Rowan',
 'Sivic, Mr. Husein',
 'Norman, Mr. Robert Douglas',
 'Simmons, Mr. John',
 'Meanwell, Miss. (Marion Ogden)',
 'Davies, Mr. Alfred J',
 'Stoytcheff, Mr. Ilia',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Doharr, Mr. Tannous',
 'Jonsson, Mr. Carl',
 'Harris, Mr. George',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Flynn, Mr. John Irwin ("Irving")',
 'Kelly, Miss. Mary',
 'Rush, Mr. Alfred George John',
 'Patchett, Mr. George',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Jussila, Mr. Eiriik',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Downton, Mr. William James',
 'Ross, Mr. John Hugo',
 'Paulner, Mr. Uscher',
 'Taussig, Miss. Ruth',
 'Jarvis, Mr. John Denzil',
 'Frolicher-Stehli, Mr. Maxmillian',
 'Gilinski, Mr. Eliezer',
 'Murdlin, Mr. Joseph',
 'Rintamaki, Mr. Matti',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Elsbury, Mr. William James',
 'Bourke, Miss. Mary',
 'Chapman, Mr. John Henry',
 'Van Impe, Mr. Jean Baptiste',
 'Leitch, Miss. Jessie Wills',
 'Johnson, Mr. Alfred',
 'Boulos, Mr. Hanna',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Slabenoff, Mr. Petco',
 'Harrington, Mr. Charles H',
 'Torber, Mr. Ernst William',
 'Homer, Mr. Harry ("Mr E Haven")',
 'Lindell, Mr. Edvard Bengtsson',
 'Karaic, Mr. Milan',
 'Daniel, Mr. Robert Williams',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Jardin, Mr. Jose Neto',
 'Murphy, Miss. Margaret Jane',
 'Horgan, Mr. John',
 'Brocklebank, Mr. William Alfred',
 'Herman, Miss. Alice',
 'Danbom, Mr. Ernst Gilbert',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Gavey, Mr. Lawrence',
 'Yasbeck, Mr. Antoni',
 'Kimball, Mr. Edwin Nelson Jr',
 'Nakid, Mr. Sahid',

### Selecting columns : selecting multiple columns

In [15]:
import polars.selectors as cs # columns selecting 할 때 도움을 주는 API 불러오기

In [17]:
# 모든 columns 선택
(
    df
    .select(
        pl.all()
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [18]:
# 특정 열 제외
(
    df
    .select(
        pl.exclude('Age', 'Survived', 'Pclass')
    )
    .head()
)

shape: (5, 9)
┌─────────────┬──────────────────────┬────────┬───────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Name                 ┆ Sex    ┆ SibSp ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---                  ┆ ---    ┆ ---   ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ str                  ┆ str    ┆ i64   ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════════════════╪════════╪═══════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ Braund, Mr. Owen     ┆ male   ┆ 1     ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆ Harris               ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ Cumings, Mrs. John   ┆ female ┆ 1     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆ Bradley (Fl…         ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ Heikkinen, Miss.     ┆ female ┆ 0     ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆ Laina                ┆        ┆       ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ Futrelle, Mrs.       ┆ female ┆ 1     ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆ Jacques Heath (…     ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ Allen, Mr. William   ┆ male   ┆ 0     ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆ Henry                ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────────────────┴────────┴───────┴───┴───────────┴─────────┴───────┴──────────┘

#### Selecting columns with a regex

regex starts with `^` and ends with `$` <p>
looks for columns starting with `P` and uses the regex wildcard `.*` to show `P` can be followed by any character.

In [19]:
(
    df
    .select(
        "^P.*$"
    )
    .head(3)
)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [20]:
# regex can apply transformation to thees columns.
(
    df
    .select(
        pl.col("^P.*$").max()
    )
)

shape: (1, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 891         ┆ 3      ┆ 6     │
└─────────────┴────────┴───────┘

#### Selecting columns based on dtype.

In [21]:
(
    df
    .select(
        pl.col(pl.Utf8)
    )
    .head()
)

shape: (5, 5)
┌─────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str              ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 113803           ┆ C123  ┆ S        │
│ Allen, Mr. William Henry        ┆ male   ┆ 373450           ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

In [22]:
(
    df
    .select(
        pl.col([pl.Utf8, pl.Float64])
    )
    .head()
)

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────────────┬─────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---  ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════╪══════════════════╪═════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 35.0 ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────┴──────────────────┴─────────┴───────┴──────────┘

### Selecting columns: Transforming and adding a column

* transform an `existing column` in place using `with_columns`
* add a columns with constant values using `pl.lit`

#### Transforming an existing column

In [24]:
(
    df
    .with_columns(
        pl.col('Fare').round(0)
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ A/5 21171 ┆ 7.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris               ┆   ┆           ┆      ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ PC 17599  ┆ 71.0 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…         ┆   ┆           ┆      ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ STON/O2.  ┆ 8.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina                ┆   ┆ 3101282   ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

* select에서 변경하면 'fare'만 나오는데
* with_columns에서 변경하면 fare와 함께 모든 컬럼 나옴.

#### Adding a new column from an existing column

We can create a new column from an existing column by renaming it with `alias`

In [25]:
(
    df
    .with_columns(
        pl.col('Fare').round(0).alias('컬럼이름변경') # 기존 컬럼은 남아있고 변경된 컬럼이 새로운 이름이 생겨서 따로 생긴다.
    )
    .head()
)

shape: (5, 13)
┌─────────────┬──────────┬────────┬────────────────┬───┬─────────┬───────┬──────────┬──────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name           ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ 컬럼이름변경 │
│ ---         ┆ ---      ┆ ---    ┆ ---            ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---          │
│ i64         ┆ i64      ┆ i64    ┆ str            ┆   ┆ f64     ┆ str   ┆ str      ┆ f64          │
╞═════════════╪══════════╪════════╪════════════════╪═══╪═════════╪═══════╪══════════╪══════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.    ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0          │
│             ┆          ┆        ┆ Owen Harris    ┆   ┆         ┆       ┆          ┆              │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.  ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0         │
│             ┆          ┆        ┆ John Bradley   ┆   ┆         ┆       ┆          ┆              │
│             ┆          ┆        ┆ (Fl…           ┆   ┆         ┆       ┆          ┆              │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,     ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0          │
│             ┆          ┆        ┆ Miss. Laina    ┆   ┆         ┆       ┆          ┆              │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 53.0         │
│             ┆          ┆        ┆ Jacques Heath  ┆   ┆         ┆       ┆          ┆              │
│             ┆          ┆        ┆ (…             ┆   ┆         ┆       ┆          ┆              │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.     ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 8.0          │
│             ┆          ┆        ┆ William Henry  ┆   ┆         ┆       ┆          ┆              │
└─────────────┴──────────┴────────┴────────────────┴───┴─────────┴───────┴──────────┴──────────────┘

In [26]:
(
    df
    .with_columns(
        (pl.col('Age') + pl.col('Fare')).alias('AgePlusFare')
    )
    .head(3)
)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ AgePlusFare │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

#### Adding a new column with a constant value

`pl.lit(값)` => 고정된 값을 모든 행에 적용할 때 사용

In [27]:
(
    df
    .with_columns(
        pl.lit("yes").alias('aboard')
    )
    .select(
        'Name', 'aboard'
    )
    .head()
)

shape: (5, 2)
┌─────────────────────────────────┬────────┐
│ Name                            ┆ aboard │
│ ---                             ┆ ---    │
│ str                             ┆ str    │
╞═════════════════════════════════╪════════╡
│ Braund, Mr. Owen Harris         ┆ yes    │
│ Cumings, Mrs. John Bradley (Fl… ┆ yes    │
│ Heikkinen, Miss. Laina          ┆ yes    │
│ Futrelle, Mrs. Jacques Heath (… ┆ yes    │
│ Allen, Mr. William Henry        ┆ yes    │
└─────────────────────────────────┴────────┘

### Selecting columns: Transforming and adding multiple columns

In [31]:
(
    df
    .with_columns(
        (pl.col('Age') + pl.col('Fare')).alias('AgePlusFare'),
        pl.col('Fare').round(0)
    )
    .select(
        'Age', 'Fare', 'AgePlusFare'
    )
    .head()
)

shape: (5, 3)
┌──────┬──────┬─────────────┐
│ Age  ┆ Fare ┆ AgePlusFare │
│ ---  ┆ ---  ┆ ---         │
│ f64  ┆ f64  ┆ f64         │
╞══════╪══════╪═════════════╡
│ 22.0 ┆ 7.0  ┆ 29.25       │
│ 38.0 ┆ 71.0 ┆ 109.2833    │
│ 26.0 ┆ 8.0  ┆ 33.925      │
│ 35.0 ┆ 53.0 ┆ 88.1        │
│ 35.0 ┆ 8.0  ┆ 43.05       │
└──────┴──────┴─────────────┘

In [32]:
(
    df
    .with_columns(
        pl.col(pl.Float64).round(0).name.suffix("_round")
    )
    .select(
        'Age', 'Age_round', 'Fare', 'Fare_round'
    )
    .head()
)

shape: (5, 4)
┌──────┬───────────┬─────────┬────────────┐
│ Age  ┆ Age_round ┆ Fare    ┆ Fare_round │
│ ---  ┆ ---       ┆ ---     ┆ ---        │
│ f64  ┆ f64       ┆ f64     ┆ f64        │
╞══════╪═══════════╪═════════╪════════════╡
│ 22.0 ┆ 22.0      ┆ 7.25    ┆ 7.0        │
│ 38.0 ┆ 38.0      ┆ 71.2833 ┆ 71.0       │
│ 26.0 ┆ 26.0      ┆ 7.925   ┆ 8.0        │
│ 35.0 ┆ 35.0      ┆ 53.1    ┆ 53.0       │
│ 35.0 ┆ 35.0      ┆ 8.05    ┆ 8.0        │
└──────┴───────────┴─────────┴────────────┘

### Selecting columns: Adding a new columns based on mapping or condition

#### Add a new column based on a mapping from another column

In [37]:
(
    df
    .select(
        'Embarked'
    )
    .unique()
)

shape: (4, 1)
┌──────────┐
│ Embarked │
│ ---      │
│ str      │
╞══════════╡
│ C        │
│ null     │
│ S        │
│ Q        │
└──────────┘

In [39]:
# replace the values

replace_dict = {
    "S" : "Southampton",
    "C" : "Cherbourg"
}

(
    df
    .with_columns(
        pl.col("Embarked").replace(replace_dict).alias("Embarked_full")
    )
    .select(
        "Embarked", "Embarked_full"
    )
    .head(5)
)

shape: (5, 2)
┌──────────┬───────────────┐
│ Embarked ┆ Embarked_full │
│ ---      ┆ ---           │
│ str      ┆ str           │
╞══════════╪═══════════════╡
│ S        ┆ Southampton   │
│ C        ┆ Cherbourg     │
│ S        ┆ Southampton   │
│ S        ┆ Southampton   │
│ S        ┆ Southampton   │
└──────────┴───────────────┘

In [40]:
# repalce value to other dtypes
replace_dict = {
    1:'first',
    2:'second',
    3:'third'
}

(
    df
    .with_columns(
        pl.col('Pclass').replace_strict(replace_dict, return_dtype=pl.String).alias('class_name')
    )
    .select(
        'Pclass', 'class_name'
    )
    .head()
)

shape: (5, 2)
┌────────┬────────────┐
│ Pclass ┆ class_name │
│ ---    ┆ ---        │
│ i64    ┆ str        │
╞════════╪════════════╡
│ 3      ┆ third      │
│ 1      ┆ first      │
│ 3      ┆ third      │
│ 1      ┆ first      │
│ 3      ┆ third      │
└────────┴────────────┘

#### Add a new column based on a condition on another column

`pl.when.then.otherwise` -> define a new column based on a condition on nore or more other columns.

In [47]:
(
    df
    .select(
        pl.all(),
        pl.when(pl.col('Pclass') == 1)
        .then(1)
        .otherwise(0)
        .alias("First_class?")
    )
    .select(
        pl.col('Pclass'), pl.col('First_class?')
    )
    .head()
)

shape: (5, 2)
┌────────┬──────────────┐
│ Pclass ┆ First_class? │
│ ---    ┆ ---          │
│ i64    ┆ i32          │
╞════════╪══════════════╡
│ 3      ┆ 0            │
│ 1      ┆ 1            │
│ 3      ┆ 0            │
│ 1      ┆ 1            │
│ 3      ┆ 0            │
└────────┴──────────────┘

In [48]:
(
    df
    .select(
        "Pclass",
        pl.when(
             pl.col("Pclass") == 1
        )
        .then(pl.lit("first"))
        .otherwise(pl.lit("not_first"))
        .alias("first_class")
    )
    .select("Pclass","first_class")
    .head(2)
)

shape: (2, 2)
┌────────┬─────────────┐
│ Pclass ┆ first_class │
│ ---    ┆ ---         │
│ i64    ┆ str         │
╞════════╪═════════════╡
│ 3      ┆ not_first   │
│ 1      ┆ first       │
└────────┴─────────────┘

In [50]:
(
    df
    .select(
        pl.col("Pclass"),
        pl.col('Age'),
        pl.when(
            pl.col('Pclass') == 1,
            pl.col('Age') < 30
        )
        .then(1)
        .otherwise(0)
        .alias("new")
    )
    .tail()
)

shape: (5, 3)
┌────────┬──────┬─────┐
│ Pclass ┆ Age  ┆ new │
│ ---    ┆ ---  ┆ --- │
│ i64    ┆ f64  ┆ i32 │
╞════════╪══════╪═════╡
│ 2      ┆ 27.0 ┆ 0   │
│ 1      ┆ 19.0 ┆ 1   │
│ 3      ┆ null ┆ 0   │
│ 1      ┆ 26.0 ┆ 1   │
│ 3      ┆ 32.0 ┆ 0   │
└────────┴──────┴─────┘

In [51]:
(
    df
    .select(
        pl.col("Pclass"),
        pl.col("Age"),
        pl.when(
            pl.col("Pclass") == 1,
            pl.col("Age")<30
        )
        .then(1)
        .when(
            pl.col("Pclass") == 1,
            pl.col("Age")>=30
        )
        .then(2)
        .otherwise(0)
        .alias("age_class")
    )
    .head(5)
)

shape: (5, 3)
┌────────┬──────┬───────────┐
│ Pclass ┆ Age  ┆ age_class │
│ ---    ┆ ---  ┆ ---       │
│ i64    ┆ f64  ┆ i32       │
╞════════╪══════╪═══════════╡
│ 3      ┆ 22.0 ┆ 0         │
│ 1      ┆ 38.0 ┆ 2         │
│ 3      ┆ 26.0 ┆ 0         │
│ 1      ┆ 35.0 ┆ 2         │
│ 3      ┆ 35.0 ┆ 0         │
└────────┴──────┴───────────┘

### Sorting

#### Sorting a `DataFrame`

In [2]:
df.sort('Age')

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James   ┆ … ┆ 330877   ┆ 8.4583  ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr.      ┆ … ┆ 244373   ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Charles Eugene     ┆   ┆          ┆         ┆       ┆          │
│ 20          ┆ 1        ┆ 3      ┆ Masselmani, Mrs.   ┆ … ┆ 2649     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Fatima             ┆   ┆          ┆         ┆       ┆          │
│ 27          ┆ 0        ┆ 3      ┆ Emir, Mr. Farred   ┆ … ┆ 2631     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Chehab             ┆   ┆          ┆         ┆       ┆          │
│ 29          ┆ 1        ┆ 3      ┆ O'Dwyer, Miss.     ┆ … ┆ 330959   ┆ 7.8792  ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Ellen "Nellie"     ┆   ┆          ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …   ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

By default `null` values are at the start of the sort. <p>
We can move the `nulls` to the end of the sort by setting the `null_last` arg to `True`

In [5]:
df.sort('Age', nulls_last=True)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 804         ┆ 1        ┆ 3      ┆ Thomas, Master.  ┆ … ┆ 2625       ┆ 8.5167  ┆ null  ┆ C        │
│             ┆          ┆        ┆ Assad Alexande…  ┆   ┆            ┆         ┆       ┆          │
│ 756         ┆ 1        ┆ 2      ┆ Hamalainen,      ┆ … ┆ 250649     ┆ 14.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Master. Viljo    ┆   ┆            ┆         ┆       ┆          │
│ 470         ┆ 1        ┆ 3      ┆ Baclini, Miss.   ┆ … ┆ 2666       ┆ 19.2583 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Helene Barbara   ┆   ┆            ┆         ┆       ┆          │
│ 645         ┆ 1        ┆ 3      ┆ Baclini, Miss.   ┆ … ┆ 2666       ┆ 19.2583 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Eugenie          ┆   ┆            ┆         ┆       ┆          │
│ 79          ┆ 1        ┆ 2      ┆ Caldwell,        ┆ … ┆ 248738     ┆ 29.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Master. Alden    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Gates            ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 860         ┆ 0        ┆ 3      ┆ Razi, Mr. Raihed ┆ … ┆ 2629       ┆ 7.2292  ┆ null  ┆ C        │
│ 864         ┆ 0        ┆ 3      ┆ Sage, Miss.      ┆ … ┆ CA. 2343   ┆ 69.55   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Dorothy Edith    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ "Dol…            ┆   ┆            ┆         ┆       ┆          │
│ 869         ┆ 0        ┆ 3      ┆ van Melkebeke,   ┆ … ┆ 345777     ┆ 9.5     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon     ┆   ┆            ┆         ┆       ┆          │
│ 879         ┆ 0        ┆ 3      ┆ Laleff, Mr.      ┆ … ┆ 349217     ┆ 7.8958  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kristo           ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [7]:
df.sort('Age', descending=True, nulls_last=True)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.   ┆ … ┆ 27042      ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry … ┆   ┆            ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.    ┆ … ┆ 347060     ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan            ┆   ┆            ┆         ┆       ┆          │
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr. ┆ … ┆ PC 17754   ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B         ┆   ┆            ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia,    ┆ … ┆ PC 17609   ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Mr. Ramon        ┆   ┆            ┆         ┆       ┆          │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.     ┆ … ┆ 370369     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 860         ┆ 0        ┆ 3      ┆ Razi, Mr. Raihed ┆ … ┆ 2629       ┆ 7.2292  ┆ null  ┆ C        │
│ 864         ┆ 0        ┆ 3      ┆ Sage, Miss.      ┆ … ┆ CA. 2343   ┆ 69.55   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Dorothy Edith    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ "Dol…            ┆   ┆            ┆         ┆       ┆          │
│ 869         ┆ 0        ┆ 3      ┆ van Melkebeke,   ┆ … ┆ 345777     ┆ 9.5     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon     ┆   ┆            ┆         ┆       ┆          │
│ 879         ┆ 0        ┆ 3      ┆ Laleff, Mr.      ┆ … ┆ 349217     ┆ 7.8958  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kristo           ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

#### Sort on mulitple columns

In [8]:
df.sort(['Pclass', 'Age'])

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 296         ┆ 0        ┆ 1      ┆ Lewy, Mr. Ervin G  ┆ … ┆ PC 17612 ┆ 27.7208 ┆ null  ┆ C        │
│ 603         ┆ 0        ┆ 1      ┆ Harrington, Mr.    ┆ … ┆ 113796   ┆ 42.4    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Charles H          ┆   ┆          ┆         ┆       ┆          │
│ 458         ┆ 1        ┆ 1      ┆ Kenyon, Mrs.       ┆ … ┆ 17464    ┆ 51.8625 ┆ D21   ┆ S        │
│             ┆          ┆        ┆ Frederick R (Mari… ┆   ┆          ┆         ┆       ┆          │
│ 794         ┆ 0        ┆ 1      ┆ Hoyt, Mr. William  ┆ … ┆ PC 17600 ┆ 30.6958 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Fisher             ┆   ┆          ┆         ┆       ┆          │
│ 712         ┆ 0        ┆ 1      ┆ Klaber, Mr. Herman ┆ … ┆ 113028   ┆ 26.55   ┆ C124  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 327         ┆ 0        ┆ 3      ┆ Nysveen, Mr. Johan ┆ … ┆ 345364   ┆ 6.2375  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Hansen             ┆   ┆          ┆         ┆       ┆          │
│ 484         ┆ 1        ┆ 3      ┆ Turkula, Mrs.      ┆ … ┆ 4134     ┆ 9.5875  ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Hedwig)           ┆   ┆          ┆         ┆       ┆          │
│ 281         ┆ 0        ┆ 3      ┆ Duane, Mr. Frank   ┆ … ┆ 336439   ┆ 7.75    ┆ null  ┆ Q        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [9]:
# or
df.sort('Pclass', 'Age')

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 296         ┆ 0        ┆ 1      ┆ Lewy, Mr. Ervin G  ┆ … ┆ PC 17612 ┆ 27.7208 ┆ null  ┆ C        │
│ 603         ┆ 0        ┆ 1      ┆ Harrington, Mr.    ┆ … ┆ 113796   ┆ 42.4    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Charles H          ┆   ┆          ┆         ┆       ┆          │
│ 458         ┆ 1        ┆ 1      ┆ Kenyon, Mrs.       ┆ … ┆ 17464    ┆ 51.8625 ┆ D21   ┆ S        │
│             ┆          ┆        ┆ Frederick R (Mari… ┆   ┆          ┆         ┆       ┆          │
│ 794         ┆ 0        ┆ 1      ┆ Hoyt, Mr. William  ┆ … ┆ PC 17600 ┆ 30.6958 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Fisher             ┆   ┆          ┆         ┆       ┆          │
│ 712         ┆ 0        ┆ 1      ┆ Klaber, Mr. Herman ┆ … ┆ 113028   ┆ 26.55   ┆ C124  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 327         ┆ 0        ┆ 3      ┆ Nysveen, Mr. Johan ┆ … ┆ 345364   ┆ 6.2375  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Hansen             ┆   ┆          ┆         ┆       ┆          │
│ 484         ┆ 1        ┆ 3      ┆ Turkula, Mrs.      ┆ … ┆ 4134     ┆ 9.5875  ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Hedwig)           ┆   ┆          ┆         ┆       ┆          │
│ 281         ┆ 0        ┆ 3      ┆ Duane, Mr. Frank   ┆ … ┆ 336439   ┆ 7.75    ┆ null  ┆ Q        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

#### Sorting a columns with an expression

In [11]:
(
    df
    .select(
        pl.all().sort()
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str    ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 1      ┆ Abbing, Mr. Anthony  ┆ … ┆ 110152 ┆ 0.0  ┆ null  ┆ null     │
│ 2           ┆ 0        ┆ 1      ┆ Abbott, Mr. Rossmore ┆ … ┆ 110152 ┆ 0.0  ┆ null  ┆ null     │
│             ┆          ┆        ┆ Edward               ┆   ┆        ┆      ┆       ┆          │
│ 3           ┆ 0        ┆ 1      ┆ Abbott, Mrs. Stanton ┆ … ┆ 110152 ┆ 0.0  ┆ null  ┆ C        │
│             ┆          ┆        ┆ (Rosa Hun…           ┆   ┆        ┆      ┆       ┆          │
│ 4           ┆ 0        ┆ 1      ┆ Abelson, Mr. Samuel  ┆ … ┆ 110413 ┆ 0.0  ┆ null  ┆ C        │
│ 5           ┆ 0        ┆ 1      ┆ Abelson, Mrs. Samuel ┆ … ┆ 110413 ┆ 0.0  ┆ null  ┆ C        │
│             ┆          ┆        ┆ (Hannah W…           ┆   ┆        ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴────────┴──────┴───────┴──────────┘

In [14]:
(
    df
    .select(
        pl.all().sort_by('Age', nulls_last=True)
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---    ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str    ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪════════╪═════════╪═══════╪══════════╡
│ 804         ┆ 1        ┆ 3      ┆ Thomas, Master.      ┆ … ┆ 2625   ┆ 8.5167  ┆ null  ┆ C        │
│             ┆          ┆        ┆ Assad Alexande…      ┆   ┆        ┆         ┆       ┆          │
│ 756         ┆ 1        ┆ 2      ┆ Hamalainen, Master.  ┆ … ┆ 250649 ┆ 14.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Viljo                ┆   ┆        ┆         ┆       ┆          │
│ 470         ┆ 1        ┆ 3      ┆ Baclini, Miss.       ┆ … ┆ 2666   ┆ 19.2583 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Helene Barbara       ┆   ┆        ┆         ┆       ┆          │
│ 645         ┆ 1        ┆ 3      ┆ Baclini, Miss.       ┆ … ┆ 2666   ┆ 19.2583 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Eugenie              ┆   ┆        ┆         ┆       ┆          │
│ 79          ┆ 1        ┆ 2      ┆ Caldwell, Master.    ┆ … ┆ 248738 ┆ 29.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Alden Gates          ┆   ┆        ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴────────┴─────────┴───────┴──────────┘

In [18]:
(
    df
    .group_by("Pclass")
    .agg(
        pl.col('Name').sort_by('Age').last(),
        pl.col('Age').sort_by('Age').last()
    )
)

shape: (3, 3)
┌────────┬─────────────────────────────────┬──────┐
│ Pclass ┆ Name                            ┆ Age  │
│ ---    ┆ ---                             ┆ ---  │
│ i64    ┆ str                             ┆ f64  │
╞════════╪═════════════════════════════════╪══════╡
│ 1      ┆ Barkworth, Mr. Algernon Henry … ┆ 80.0 │
│ 3      ┆ Svensson, Mr. Johan             ┆ 74.0 │
│ 2      ┆ Mitchell, Mr. Henry Michael     ┆ 70.0 │
└────────┴─────────────────────────────────┴──────┘

#### Fitering for the largest/smallest values

In [19]:
# using head or tail
(
    df
    .sort('Age')
    .tail(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …   ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [20]:
# more faster approach
(
    df
    .top_k(
        k = 5,
        by = 'Age',
        # Return the largest records
        reverse = False
    )
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …   ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

#### Taking advantage of sorted data
For some operations Polars can use a fast tack algorithm if it knows the data in a column is sorted.

In [21]:
# checking the sorted status
df['PassengerId'].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

In [22]:
df['PassengerId'].is_sorted()

True

In [23]:
df = (
    pl.read_csv(csv_file)
    .with_columns(
        pl.col("PassengerId").set_sorted()
    )
)
df["PassengerId"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [24]:
df = (
    pl.read_csv(csv_file)
    .sort("PassengerId")
)
df["PassengerId"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [25]:
(
    df
    .select(
        pl.col("PassengerId").set_sorted().max()
    )
)

shape: (1, 1)
┌─────────────┐
│ PassengerId │
│ ---         │
│ i64         │
╞═════════════╡
│ 891         │
└─────────────┘

In [26]:
import numpy as np

N = 10_000_000
sorted_array = np.sort(np.random.standard_normal(N))
df_sort = pl.DataFrame({"known_sorted": sorted_array, "unknown_sorted": sorted_array})

df_sort.head(3)

shape: (3, 2)
┌──────────────┬────────────────┐
│ known_sorted ┆ unknown_sorted │
│ ---          ┆ ---            │
│ f64          ┆ f64            │
╞══════════════╪════════════════╡
│ -5.620574    ┆ -5.620574      │
│ -5.580196    ┆ -5.580196      │
│ -5.464528    ┆ -5.464528      │
└──────────────┴────────────────┘

In [27]:
df_sort["known_sorted"].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

In [28]:
df_sort = (
    df_sort
    .with_columns(
        pl.col('known_sorted').set_sorted()
    )
)

In [29]:
df_sort["known_sorted"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [30]:
%%timeit -n1 -r5
(
    df_sort
    .select(
        pl.col("known_sorted").median()
    )
)

The slowest run took 17.59 times longer than the fastest. This could mean that an intermediate result is being cached.
138 μs ± 116 μs per loop (mean ± std. dev. of 5 runs, 1 loop each)

In [31]:
%%timeit -n1 -r5
(
    df_sort
    .select(
        pl.col("unknown_sorted").median()
    )
)

25 ms ± 5.63 ms per loop (mean ± std. dev. of 5 runs, 1 loop each)

In [32]:
%%timeit -n1 -r5
(
    df_sort
    .filter(
        pl.col("known_sorted") < -2
    )
)

The slowest run took 24.58 times longer than the fastest. This could mean that an intermediate result is being cached.
1.16 ms ± 1.89 ms per loop (mean ± std. dev. of 5 runs, 1 loop each)

In [33]:
%%timeit -n1 -r5
(
    df_sort
    .filter(
        pl.col("unknown_sorted") < -2
    )
)

3.15 ms ± 389 μs per loop (mean ± std. dev. of 5 runs, 1 loop each)

### Transforming a `DataFrame`

#### Renaming columns

In [34]:
(
    df
    .rename(
        {"PassengerId" : "ID"}
    )
    .head(2)
)

shape: (2, 12)
┌─────┬──────────┬────────┬───────────────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ ID  ┆ Survived ┆ Pclass ┆ Name                      ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ --- ┆ ---      ┆ ---    ┆ ---                       ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64 ┆ i64      ┆ i64    ┆ str                       ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════╪══════════╪════════╪═══════════════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1   ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris   ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 2   ┆ 1        ┆ 1      ┆ Cumings, Mrs. John        ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│     ┆          ┆        ┆ Bradley (Fl…              ┆   ┆           ┆         ┆       ┆          │
└─────┴──────────┴────────┴───────────────────────────┴───┴───────────┴─────────┴───────┴──────────┘

#### Dropping columns

In [35]:
(
    df
    .drop(
        "PassengerId", "Pclass"
    )
    .head(2)
)

shape: (2, 10)
┌──────────┬──────────────────────────┬────────┬──────┬───┬───────────┬─────────┬───────┬──────────┐
│ Survived ┆ Name                     ┆ Sex    ┆ Age  ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---      ┆ ---                      ┆ ---    ┆ ---  ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64      ┆ str                      ┆ str    ┆ f64  ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞══════════╪══════════════════════════╪════════╪══════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 0        ┆ Braund, Mr. Owen Harris  ┆ male   ┆ 22.0 ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 1        ┆ Cumings, Mrs. John       ┆ female ┆ 38.0 ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│          ┆ Bradley (Fl…             ┆        ┆      ┆   ┆           ┆         ┆       ┆          │
└──────────┴──────────────────────────┴────────┴──────┴───┴───────────┴─────────┴───────┴──────────┘

#### Re-ordering columns

In [37]:
sorted(df.columns)

['Age',
 'Cabin',
 'Embarked',
 'Fare',
 'Name',
 'Parch',
 'PassengerId',
 'Pclass',
 'Sex',
 'SibSp',
 'Survived',
 'Ticket']

In [38]:
(
    df
    .select(
        sorted(df.columns)
    )
    .head()
)

shape: (5, 12)
┌──────┬───────┬──────────┬─────────┬───┬────────┬───────┬──────────┬──────────────────┐
│ Age  ┆ Cabin ┆ Embarked ┆ Fare    ┆ … ┆ Sex    ┆ SibSp ┆ Survived ┆ Ticket           │
│ ---  ┆ ---   ┆ ---      ┆ ---     ┆   ┆ ---    ┆ ---   ┆ ---      ┆ ---              │
│ f64  ┆ str   ┆ str      ┆ f64     ┆   ┆ str    ┆ i64   ┆ i64      ┆ str              │
╞══════╪═══════╪══════════╪═════════╪═══╪════════╪═══════╪══════════╪══════════════════╡
│ 22.0 ┆ null  ┆ S        ┆ 7.25    ┆ … ┆ male   ┆ 1     ┆ 0        ┆ A/5 21171        │
│ 38.0 ┆ C85   ┆ C        ┆ 71.2833 ┆ … ┆ female ┆ 1     ┆ 1        ┆ PC 17599         │
│ 26.0 ┆ null  ┆ S        ┆ 7.925   ┆ … ┆ female ┆ 0     ┆ 1        ┆ STON/O2. 3101282 │
│ 35.0 ┆ C123  ┆ S        ┆ 53.1    ┆ … ┆ female ┆ 1     ┆ 1        ┆ 113803           │
│ 35.0 ┆ null  ┆ S        ┆ 8.05    ┆ … ┆ male   ┆ 0     ┆ 0        ┆ 373450           │
└──────┴───────┴──────────┴─────────┴───┴────────┴───────┴──────────┴──────────────────┘

#### Changinf dtypes

We can change dtypes within an expression using `pl.col(...).cast()` <p>
but we can also call `cast` with a `dict` argument on a DataFrame.

In [41]:
(
    df
    .cast(
        {
            "Survived" : pl.Utf8
        }
    )
    .select(
        pl.col("Survived")
    )
    .head()
)

shape: (5, 1)
┌──────────┐
│ Survived │
│ ---      │
│ str      │
╞══════════╡
│ 0        │
│ 1        │
│ 1        │
│ 1        │
│ 0        │
└──────────┘

In [42]:
(
    df
    .with_columns(
        pl.col('Survived').cast(pl.Utf8).alias("Utf8_Survived")
    )
    .select(
        pl.col('Survived', 'Utf8_Survived')
    )
    .head(3)
)

shape: (3, 2)
┌──────────┬───────────────┐
│ Survived ┆ Utf8_Survived │
│ ---      ┆ ---           │
│ i64      ┆ str           │
╞══════════╪═══════════════╡
│ 0        ┆ 0             │
│ 1        ┆ 1             │
│ 1        ┆ 1             │
└──────────┴───────────────┘

#### Transforming `DataFrames` in a function

We may want to capture some `DataFrame` transformations in a function. This can be to:
- re-use the same transformations multiple times
- make code easier to read or
- make the transformations testable

If our function:
- takes a `DataFrame` (and some other optional arguments) as an input and
- outputs a `DataFrame`
then we can use the `pipe` method.

In this example we define a function that makes all string columns uppercaseb

In [43]:
def uppercase_all_strings(df):
    return(
        df.with_columns(
            pl.col(pl.Utf8).str.to_uppercase()
        )
    )

We can `pipe` the `DataFrame` to this function as follows

In [45]:
(
    df
    .pipe(uppercase_all_strings)
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ BRAUND, MR. OWEN  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ HARRIS            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ CUMINGS, MRS.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ JOHN BRADLEY (FL… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ HEIKKINEN, MISS.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ LAINA             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ FUTRELLE, MRS.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ JACQUES HEATH (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ ALLEN, MR.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ WILLIAM HENRY     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

#### Function arguments using `pipe`

In [52]:
def _multiply_floats(df : pl.DataFrame, multiplication_factor : int) -> pl.DataFrame: # -> 는 반환 타입을 의미한다
    return (
        df
        .select(
            pl.col(pl.Float64)
        ) * multiplication_factor
    )

In [53]:
(
    df
    .pipe(
        _multiply_floats, multiplication_factor = 3
    )
    .head(3)
)

shape: (3, 2)
┌───────┬──────────┐
│ Age   ┆ Fare     │
│ ---   ┆ ---      │
│ f64   ┆ f64      │
╞═══════╪══════════╡
│ 66.0  ┆ 21.75    │
│ 114.0 ┆ 213.8499 │
│ 78.0  ┆ 23.775   │
└───────┴──────────┘

In [59]:
def lower(df : pl.DataFrame) -> pl.DataFrame:
    return(
        df
        .rename(
            {oldcol : oldcol.lower() for oldcol in df.columns}
        )
    )

(
    df
    .pipe(lower)
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ passengerid ┆ survived ┆ pclass ┆ name              ┆ … ┆ ticket    ┆ fare    ┆ cabin ┆ embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### Iterating through a DataFrame

#### Iterating overa single column

In [61]:
ages = [age for age in df['Age']]
ages[:3]

[22.0, 38.0, 26.0]

#### Iterating over multiple columns

In [62]:
df.rows() # 모든 행을 튜플로 반환.. 각 행이 하나의 튜플로 표현

[(1,
  0,
  3,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1,
  0,
  'A/5 21171',
  7.25,
  None,
  'S'),
 (2,
  1,
  1,
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  38.0,
  1,
  0,
  'PC 17599',
  71.2833,
  'C85',
  'C'),
 (3,
  1,
  3,
  'Heikkinen, Miss. Laina',
  'female',
  26.0,
  0,
  0,
  'STON/O2. 3101282',
  7.925,
  None,
  'S'),
 (4,
  1,
  1,
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'female',
  35.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'),
 (5,
  0,
  3,
  'Allen, Mr. William Henry',
  'male',
  35.0,
  0,
  0,
  '373450',
  8.05,
  None,
  'S'),
 (6,
  0,
  3,
  'Moran, Mr. James',
  'male',
  None,
  0,
  0,
  '330877',
  8.4583,
  None,
  'Q'),
 (7,
  0,
  1,
  'McCarthy, Mr. Timothy J',
  'male',
  54.0,
  0,
  0,
  '17463',
  51.8625,
  'E46',
  'S'),
 (8,
  0,
  3,
  'Palsson, Master. Gosta Leonard',
  'male',
  2.0,
  3,
  1,
  '349909',
  21.075,
  None,
  'S'),
 (9,
  1,
  3,
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'female',
  27.0,
  0,
  2,
  '347742',
  11.1333,
  None,
  'S'),
 (10,
  1,
  2,
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'female',
  14.0,
  1,
  0,
  '237736',
  30.0708,
  None,
  'C'),
 (11,
  1,
  3,
  'Sandstrom, Miss. Marguerite Rut',
  'female',
  4.0,
  1,
  1,
  'PP 9549',
  16.7,
  'G6',
  'S'),
 (12,
  1,
  1,
  'Bonnell, Miss. Elizabeth',
  'female',
  58.0,
  0,
  0,
  '113783',
  26.55,
  'C103',
  'S'),
 (13,
  0,
  3,
  'Saundercock, Mr. William Henry',
  'male',
  20.0,
  0,
  0,
  'A/5. 2151',
  8.05,
  None,
  'S'),
 (14,
  0,
  3,
  'Andersson, Mr. Anders Johan',
  'male',
  39.0,
  1,
  5,
  '347082',
  31.275,
  None,
  'S'),
 (15,
  0,
  3,
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'female',
  14.0,
  0,
  0,
  '350406',
  7.8542,
  None,
  'S'),
 (16,
  1,
  2,
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'female',
  55.0,
  0,
  0,
  '248706',
  16.0,
  None,
  'S'),
 (17,
  0,
  3,
  'Rice, Master. Eugene',
  'male',
  2.0,
  4,
  1,
  '382652',
  29.125,
  None,
  'Q'),
 (18,
  1,
  2,
  'Williams, Mr. Charles Eugene',
  'male',
  None,
  0,
  0,
  '244373',
  13.0,
  None,
  'S'),
 (19,
  0,
  3,
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'female',
  31.0,
  1,
  0,
  '345763',
  18.0,
  None,
  'S'),
 (20,
  1,
  3,
  'Masselmani, Mrs. Fatima',
  'female',
  None,
  0,
  0,
  '2649',
  7.225,
  None,
  'C'),
 (21,
  0,
  2,
  'Fynney, Mr. Joseph J',
  'male',
  35.0,
  0,
  0,
  '239865',
  26.0,
  None,
  'S'),
 (22,
  1,
  2,
  'Beesley, Mr. Lawrence',
  'male',
  34.0,
  0,
  0,
  '248698',
  13.0,
  'D56',
  'S'),
 (23,
  1,
  3,
  'McGowan, Miss. Anna "Annie"',
  'female',
  15.0,
  0,
  0,
  '330923',
  8.0292,
  None,
  'Q'),
 (24,
  1,
  1,
  'Sloper, Mr. William Thompson',
  'male',
  28.0,
  0,
  0,
  '113788',
  35.5,
  'A6',
  'S'),
 (25,
  0,
  3,
  'Palsson, Miss. Torborg Danira',
  'female',
  8.0,
  3,
  1,
  '349909',
  21.075,
  None,
  'S'),
 (26,
  1,
  3,
  'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'female',
  38.0,
  1,
  5,
  '347077',
  31.3875,
  None,
  'S'),
 (27,
  0,
  3,
  'Emir, Mr. Farred Chehab',
  'male',
  None,
  0,
  0,
  '2631',
  7.225,
  None,
  'C'),
 (28,
  0,
  1,
  'Fortune, Mr. Charles Alexander',
  'male',
  19.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'),
 (29,
  1,
  3,
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'female',
  None,
  0,
  0,
  '330959',
  7.8792,
  None,
  'Q'),
 (30,
  0,
  3,
  'Todoroff, Mr. Lalio',
  'male',
  None,
  0,
  0,
  '349216',
  7.8958,
  None,
  'S'),
 (31,
  0,
  1,
  'Uruchurtu, Don. Manuel E',
  'male',
  40.0,
  0,
  0,
  'PC 17601',
  27.7208,
  None,
  'C'),
 (32,
  1,
  1,
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'female',
  None,
  1,
  0,
  'PC 17569',
  146.5208,
  'B78',
  'C'),
 (33,
  1,
  3,
  'Glynn, Miss. Mary Agatha',
  'female',
  None,
  0,
  0,
  '335677',
  7.75,
  None,
  'Q'),
 (34,
  0,
  2,
  'Wheadon, Mr. Edward H',
  'male',
  66.0,
  0,
  0,
  'C.A. 24579',
  10.5,
  None,
  'S'),
 (35,
  0,
  1,
  'Meyer, Mr. Edgar Joseph',
  'male',
  28.0,
  1,
  0,
  'PC 17604',
  82.1708,
  None,
  'C'),
 (36,
  0,
  1,
  'Holverson, Mr. Alexander Oskar',
  'male',
  42.0,
  1,
  0,
  '113789',
  52.0,
  None,
  'S'),
 (37, 1, 3, 'Mamee, Mr. Hanna', 'male', None, 0, 0, '2677', 7.2292, None, 'C'),
 (38,
  0,
  3,
  'Cann, Mr. Ernest Charles',
  'male',
  21.0,
  0,
  0,
  'A./5. 2152',
  8.05,
  None,
  'S'),
 (39,
  0,
  3,
  'Vander Planke, Miss. Augusta Maria',
  'female',
  18.0,
  2,
  0,
  '345764',
  18.0,
  None,
  'S'),
 (40,
  1,
  3,
  'Nicola-Yarred, Miss. Jamila',
  'female',
  14.0,
  1,
  0,
  '2651',
  11.2417,
  None,
  'C'),
 (41,
  0,
  3,
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'female',
  40.0,
  1,
  0,
  '7546',
  9.475,
  None,
  'S'),
 (42,
  0,
  2,
  'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'female',
  27.0,
  1,
  0,
  '11668',
  21.0,
  None,
  'S'),
 (43,
  0,
  3,
  'Kraeff, Mr. Theodor',
  'male',
  None,
  0,
  0,
  '349253',
  7.8958,
  None,
  'C'),
 (44,
  1,
  2,
  'Laroche, Miss. Simonne Marie Anne Andree',
  'female',
  3.0,
  1,
  2,
  'SC/Paris 2123',
  41.5792,
  None,
  'C'),
 (45,
  1,
  3,
  'Devaney, Miss. Margaret Delia',
  'female',
  19.0,
  0,
  0,
  '330958',
  7.8792,
  None,
  'Q'),
 (46,
  0,
  3,
  'Rogers, Mr. William John',
  'male',
  None,
  0,
  0,
  'S.C./A.4. 23567',
  8.05,
  None,
  'S'),
 (47,
  0,
  3,
  'Lennon, Mr. Denis',
  'male',
  None,
  1,
  0,
  '370371',
  15.5,
  None,
  'Q'),
 (48,
  1,
  3,
  "O'Driscoll, Miss. Bridget",
  'female',
  None,
  0,
  0,
  '14311',
  7.75,
  None,
  'Q'),
 (49,
  0,
  3,
  'Samaan, Mr. Youssef',
  'male',
  None,
  2,
  0,
  '2662',
  21.6792,
  None,
  'C'),
 (50,
  0,
  3,
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'female',
  18.0,
  1,
  0,
  '349237',
  17.8,
  None,
  'S'),
 (51,
  0,
  3,
  'Panula, Master. Juha Niilo',
  'male',
  7.0,
  4,
  1,
  '3101295',
  39.6875,
  None,
  'S'),
 (52,
  0,
  3,
  'Nosworthy, Mr. Richard Cater',
  'male',
  21.0,
  0,
  0,
  'A/4. 39886',
  7.8,
  None,
  'S'),
 (53,
  1,
  1,
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'female',
  49.0,
  1,
  0,
  'PC 17572',
  76.7292,
  'D33',
  'C'),
 (54,
  1,
  2,
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'female',
  29.0,
  1,
  0,
  '2926',
  26.0,
  None,
  'S'),
 (55,
  0,
  1,
  'Ostby, Mr. Engelhart Cornelius',
  'male',
  65.0,
  0,
  1,
  '113509',
  61.9792,
  'B30',
  'C'),
 (56,
  1,
  1,
  'Woolner, Mr. Hugh',
  'male',
  None,
  0,
  0,
  '19947',
  35.5,
  'C52',
  'S'),
 (57,
  1,
  2,
  'Rugg, Miss. Emily',
  'female',
  21.0,
  0,
  0,
  'C.A. 31026',
  10.5,
  None,
  'S'),
 (58,
  0,
  3,
  'Novel, Mr. Mansouer',
  'male',
  28.5,
  0,
  0,
  '2697',
  7.2292,
  None,
  'C'),
 (59,
  1,
  2,
  'West, Miss. Constance Mirium',
  'female',
  5.0,
  1,
  2,
  'C.A. 34651',
  27.75,
  None,
  'S'),
 (60,
  0,
  3,
  'Goodwin, Master. William Frederick',
  'male',
  11.0,
  5,
  2,
  'CA 2144',
  46.9,
  None,
  'S'),
 (61,
  0,
  3,
  'Sirayanian, Mr. Orsen',
  'male',
  22.0,
  0,
  0,
  '2669',
  7.2292,
  None,
  'C'),
 (62,
  1,
  1,
  'Icard, Miss. Amelie',
  'female',
  38.0,
  0,
  0,
  '113572',
  80.0,
  'B28',
  None),
 (63,
  0,
  1,
  'Harris, Mr. Henry Birkhardt',
  'male',
  45.0,
  1,
  0,
  '36973',
  83.475,
  'C83',
  'S'),
 (64,
  0,
  3,
  'Skoog, Master. Harald',
  'male',
  4.0,
  3,
  2,
  '347088',
  27.9,
  None,
  'S'),
 (65,
  0,
  1,
  'Stewart, Mr. Albert A',
  'male',
  None,
  0,
  0,
  'PC 17605',
  27.7208,
  None,
  'C'),
 (66,
  1,
  3,
  'Moubarek, Master. Gerios',
  'male',
  None,
  1,
  1,
  '2661',
  15.2458,
  None,
  'C'),
 (67,
  1,
  2,
  'Nye, Mrs. (Elizabeth Ramell)',
  'female',
  29.0,
  0,
  0,
  'C.A. 29395',
  10.5,
  'F33',
  'S'),
 (68,
  0,
  3,
  'Crease, Mr. Ernest James',
  'male',
  19.0,
  0,
  0,
  'S.P. 3464',
  8.1583,
  None,
  'S'),
 (69,
  1,
  3,
  'Andersson, Miss. Erna Alexandra',
  'female',
  17.0,
  4,
  2,
  '3101281',
  7.925,
  None,
  'S'),
 (70,
  0,
  3,
  'Kink, Mr. Vincenz',
  'male',
  26.0,
  2,
  0,
  '315151',
  8.6625,
  None,
  'S'),
 (71,
  0,
  2,
  'Jenkin, Mr. Stephen Curnow',
  'male',
  32.0,
  0,
  0,
  'C.A. 33111',
  10.5,
  None,
  'S'),
 (72,
  0,
  3,
  'Goodwin, Miss. Lillian Amy',
  'female',
  16.0,
  5,
  2,
  'CA 2144',
  46.9,
  None,
  'S'),
 (73,
  0,
  2,
  'Hood, Mr. Ambrose Jr',
  'male',
  21.0,
  0,
  0,
  'S.O.C. 14879',
  73.5,
  None,
  'S'),
 (74,
  0,
  3,
  'Chronopoulos, Mr. Apostolos',
  'male',
  26.0,
  1,
  0,
  '2680',
  14.4542,
  None,
  'C'),
 (75, 1, 3, 'Bing, Mr. Lee', 'male', 32.0, 0, 0, '1601', 56.4958, None, 'S'),
 (76,
  0,
  3,
  'Moen, Mr. Sigurd Hansen',
  'male',
  25.0,
  0,
  0,
  '348123',
  7.65,
  'F G73',
  'S'),
 (77,
  0,
  3,
  'Staneff, Mr. Ivan',
  'male',
  None,
  0,
  0,
  '349208',
  7.8958,
  None,
  'S'),
 (78,
  0,
  3,
  'Moutal, Mr. Rahamin Haim',
  'male',
  None,
  0,
  0,
  '374746',
  8.05,
  None,
  'S'),
 (79,
  1,
  2,
  'Caldwell, Master. Alden Gates',
  'male',
  0.83,
  0,
  2,
  '248738',
  29.0,
  None,
  'S'),
 (80,
  1,
  3,
  'Dowdell, Miss. Elizabeth',
  'female',
  30.0,
  0,
  0,
  '364516',
  12.475,
  None,
  'S'),
 (81,
  0,
  3,
  'Waelens, Mr. Achille',
  'male',
  22.0,
  0,
  0,
  '345767',
  9.0,
  None,
  'S'),
 (82,
  1,
  3,
  'Sheerlinck, Mr. Jan Baptist',
  'male',
  29.0,
  0,
  0,
  '345779',
  9.5,
  None,
  'S'),
 (83,
  1,
  3,
  'McDermott, Miss. Brigdet Delia',
  'female',
  None,
  0,
  0,
  '330932',
  7.7875,
  None,
  'Q'),
 (84,
  0,
  1,
  'Carrau, Mr. Francisco M',
  'male',
  28.0,
  0,
  0,
  '113059',
  47.1,
  None,
  'S'),
 (85,
  1,
  2,
  'Ilett, Miss. Bertha',
  'female',
  17.0,
  0,
  0,
  'SO/C 14885',
  10.5,
  None,
  'S'),
 (86,
  1,
  3,
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'female',
  33.0,
  3,
  0,
  '3101278',
  15.85,
  None,
  'S'),
 (87,
  0,
  3,
  'Ford, Mr. William Neal',
  'male',
  16.0,
  1,
  3,
  'W./C. 6608',
  34.375,
  None,
  'S'),
 (88,
  0,
  3,
  'Slocovski, Mr. Selman Francis',
  'male',
  None,
  0,
  0,
  'SOTON/OQ 392086',
  8.05,
  None,
  'S'),
 (89,
  1,
  1,
  'Fortune, Miss. Mabel Helen',
  'female',
  23.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'),
 (90,
  0,
  3,
  'Celotti, Mr. Francesco',
  'male',
  24.0,
  0,
  0,
  '343275',
  8.05,
  None,
  'S'),
 (91,
  0,
  3,
  'Christmann, Mr. Emil',
  'male',
  29.0,
  0,
  0,
  '343276',
  8.05,
  None,
  'S'),
 (92,
  0,
  3,
  'Andreasson, Mr. Paul Edvin',
  'male',
  20.0,
  0,
  0,
  '347466',
  7.8542,
  None,
  'S'),
 (93,
  0,
  1,
  'Chaffee, Mr. Herbert Fuller',
  'male',
  46.0,
  1,
  0,
  'W.E.P. 5734',
  61.175,
  'E31',
  'S'),
 (94,
  0,
  3,
  'Dean, Mr. Bertram Frank',
  'male',
  26.0,
  1,
  2,
  'C.A. 2315',
  20.575,
  None,
  'S'),
 (95,
  0,
  3,
  'Coxon, Mr. Daniel',
  'male',
  59.0,
  0,
  0,
  '364500',
  7.25,
  None,
  'S'),
 (96,
  0,
  3,
  'Shorney, Mr. Charles Joseph',
  'male',
  None,
  0,
  0,
  '374910',
  8.05,
  None,
  'S'),
 (97,
  0,
  1,
  'Goldschmidt, Mr. George B',
  'male',
  71.0,
  0,
  0,
  'PC 17754',
  34.6542,
  'A5',
  'C'),
 (98,
  1,
  1,
  'Greenfield, Mr. William Bertram',
  'male',
  23.0,
  0,
  1,
  'PC 17759',
  63.3583,
  'D10 D12',
  'C'),
 (99,
  1,
  2,
  'Doling, Mrs. John T (Ada Julia Bone)',
  'female',
  34.0,
  0,
  1,
  '231919',
  23.0,
  None,
  'S'),
 (100,
  0,
  2,
  'Kantor, Mr. Sinai',
  'male',
  34.0,
  1,
  0,
  '244367',
  26.0,
  None,
  'S'),
 (101,
  0,
  3,
  'Petranec, Miss. Matilda',
  'female',
  28.0,
  0,
  0,
  '349245',
  7.8958,
  None,
  'S'),
 (102,
  0,
  3,
  'Petroff, Mr. Pastcho ("Pentcho")',
  'male',
  None,
  0,
  0,
  '349215',
  7.8958,
  None,
  'S'),
 (103,
  0,
  1,
  'White, Mr. Richard Frasar',
  'male',
  21.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'),
 (104,
  0,
  3,
  'Johansson, Mr. Gustaf Joel',
  'male',
  33.0,
  0,
  0,
  '7540',
  8.6542,
  None,
  'S'),
 (105,
  0,
  3,
  'Gustafsson, Mr. Anders Vilhelm',
  'male',
  37.0,
  2,
  0,
  '3101276',
  7.925,
  None,
  'S'),
 (106,
  0,
  3,
  'Mionoff, Mr. Stoytcho',
  'male',
  28.0,
  0,
  0,
  '349207',
  7.8958,
  None,
  'S'),
 (107,
  1,
  3,
  'Salkjelsvik, Miss. Anna Kristine',
  'female',
  21.0,
  0,
  0,
  '343120',
  7.65,
  None,
  'S'),
 (108,
  1,
  3,
  'Moss, Mr. Albert Johan',
  'male',
  None,
  0,
  0,
  '312991',
  7.775,
  None,
  'S'),
 (109,
  0,
  3,
  'Rekic, Mr. Tido',
  'male',
  38.0,
  0,
  0,
  '349249',
  7.8958,
  None,
  'S'),
 (110,
  1,
  3,
  'Moran, Miss. Bertha',
  'female',
  None,
  1,
  0,
  '371110',
  24.15,
  None,
  'Q'),
 (111,
  0,
  1,
  'Porter, Mr. Walter Chamberlain',
  'male',
  47.0,
  0,
  0,
  '110465',
  52.0,
  'C110',
  'S'),
 (112,
  0,
  3,
  'Zabour, Miss. Hileni',
  'female',
  14.5,
  1,
  0,
  '2665',
  14.4542,
  None,
  'C'),
 (113,
  0,
  3,
  'Barton, Mr. David John',
  'male',
  22.0,
  0,
  0,
  '324669',
  8.05,
  None,
  'S'),
 (114,
  0,
  3,
  'Jussila, Miss. Katriina',
  'female',
  20.0,
  1,
  0,
  '4136',
  9.825,
  None,
  'S'),
 (115,
  0,
  3,
  'Attalah, Miss. Malake',
  'female',
  17.0,
  0,
  0,
  '2627',
  14.4583,
  None,
  'C'),
 (116,
  0,
  3,
  'Pekoniemi, Mr. Edvard',
  'male',
  21.0,
  0,
  0,
  'STON/O 2. 3101294',
  7.925,
  None,
  'S'),
 (117,
  0,
  3,
  'Connors, Mr. Patrick',
  'male',
  70.5,
  0,
  0,
  '370369',
  7.75,
  None,
  'Q'),
 (118,
  0,
  2,
  'Turpin, Mr. William John Robert',
  'male',
  29.0,
  1,
  0,
  '11668',
  21.0,
  None,
  'S'),
 (119,
  0,
  1,
  'Baxter, Mr. Quigg Edmond',
  'male',
  24.0,
  0,
  1,
  'PC 17558',
  247.5208,
  'B58 B60',
  'C'),
 (120,
  0,
  3,
  'Andersson, Miss. Ellis Anna Maria',
  'female',
  2.0,
  4,
  2,
  '347082',
  31.275,
  None,
  'S'),
 (121,
  0,
  2,
  'Hickman, Mr. Stanley George',
  'male',
  21.0,
  2,
  0,
  'S.O.C. 14879',
  73.5,
  None,
  'S'),
 (122,
  0,
  3,
  'Moore, Mr. Leonard Charles',
  'male',
  None,
  0,
  0,
  'A4. 54510',
  8.05,
  None,
  'S'),
 (123,
  0,
  2,
  'Nasser, Mr. Nicholas',
  'male',
  32.5,
  1,
  0,
  '237736',
  30.0708,
  None,
  'C'),
 (124,
  1,
  2,
  'Webber, Miss. Susan',
  'female',
  32.5,
  0,
  0,
  '27267',
  13.0,
  'E101',
  'S'),
 (125,
  0,
  1,
  'White, Mr. Percival Wayland',
  'male',
  54.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'),
 (126,
  1,
  3,
  'Nicola-Yarred, Master. Elias',
  'male',
  12.0,
  1,
  0,
  '2651',
  11.2417,
  None,
  'C'),
 (127,
  0,
  3,
  'McMahon, Mr. Martin',
  'male',
  None,
  0,
  0,
  '370372',
  7.75,
  None,
  'Q'),
 (128,
  1,
  3,
  'Madsen, Mr. Fridtjof Arne',
  'male',
  24.0,
  0,
  0,
  'C 17369',
  7.1417,
  None,
  'S'),
 (129,
  1,
  3,
  'Peter, Miss. Anna',
  'female',
  None,
  1,
  1,
  '2668',
  22.3583,
  'F E69',
  'C'),
 (130,
  0,
  3,
  'Ekstrom, Mr. Johan',
  'male',
  45.0,
  0,
  0,
  '347061',
  6.975,
  None,
  'S'),
 (131,
  0,
  3,
  'Drazenoic, Mr. Jozef',
  'male',
  33.0,
  0,
  0,
  '349241',
  7.8958,
  None,
  'C'),
 (132,
  0,
  3,
  'Coelho, Mr. Domingos Fernandeo',
  'male',
  20.0,
  0,
  0,
  'SOTON/O.Q. 3101307',
  7.05,
  None,
  'S'),
 (133,
  0,
  3,
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'female',
  47.0,
  1,
  0,
  'A/5. 3337',
  14.5,
  None,
  'S'),
 (134,
  1,
  2,
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'female',
  29.0,
  1,
  0,
  '228414',
  26.0,
  None,
  'S'),
 (135,
  0,
  2,
  'Sobey, Mr. Samuel James Hayden',
  'male',
  25.0,
  0,
  0,
  'C.A. 29178',
  13.0,
  None,
  'S'),
 (136,
  0,
  2,
  'Richard, Mr. Emile',
  'male',
  23.0,
  0,
  0,
  'SC/PARIS 2133',
  15.0458,
  None,
  'C'),
 (137,
  1,
  1,
  'Newsom, Miss. Helen Monypeny',
  'female',
  19.0,
  0,
  2,
  '11752',
  26.2833,
  'D47',
  'S'),
 (138,
  0,
  1,
  'Futrelle, Mr. Jacques Heath',
  'male',
  37.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'),
 (139,
  0,
  3,
  'Osen, Mr. Olaf Elon',
  'male',
  16.0,
  0,
  0,
  '7534',
  9.2167,
  None,
  'S'),
 (140,
  0,
  1,
  'Giglio, Mr. Victor',
  'male',
  24.0,
  0,
  0,
  'PC 17593',
  79.2,
  'B86',
  'C'),
 (141,
  0,
  3,
  'Boulos, Mrs. Joseph (Sultana)',
  'female',
  None,
  0,
  2,
  '2678',
  15.2458,
  None,
  'C'),
 (142,
  1,
  3,
  'Nysten, Miss. Anna Sofia',
  'female',
  22.0,
  0,
  0,
  '347081',
  7.75,
  None,
  'S'),
 (143,
  1,
  3,
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'female',
  24.0,
  1,
  0,
  'STON/O2. 3101279',
  15.85,
  None,
  'S'),
 (144,
  0,
  3,
  'Burke, Mr. Jeremiah',
  'male',
  19.0,
  0,
  0,
  '365222',
  6.75,
  None,
  'Q'),
 (145,
  0,
  2,
  'Andrew, Mr. Edgardo Samuel',
  'male',
  18.0,
  0,
  0,
  '231945',
  11.5,
  None,
  'S'),
 (146,
  0,
  2,
  'Nicholls, Mr. Joseph Charles',
  'male',
  19.0,
  1,
  1,
  'C.A. 33112',
  36.75,
  None,
  'S'),
 (147,
  1,
  3,
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'male',
  27.0,
  0,
  0,
  '350043',
  7.7958,
  None,
  'S'),
 (148,
  0,
  3,
  'Ford, Miss. Robina Maggie "Ruby"',
  'female',
  9.0,
  2,
  2,
  'W./C. 6608',
  34.375,
  None,
  'S'),
 (149,
  0,
  2,
  'Navratil, Mr. Michel ("Louis M Hoffman")',
  'male',
  36.5,
  0,
  2,
  '230080',
  26.0,
  'F2',
  'S'),
 (150,
  0,
  2,
  'Byles, Rev. Thomas Roussel Davids',
  'male',
  42.0,
  0,
  0,
  '244310',
  13.0,
  None,
  'S'),
 (151,
  0,
  2,
  'Bateman, Rev. Robert James',
  'male',
  51.0,
  0,
  0,
  'S.O.P. 1166',
  12.525,
  None,
  'S'),
 (152,
  1,
  1,
  'Pears, Mrs. Thomas (Edith Wearne)',
  'female',
  22.0,
  1,
  0,
  '113776',
  66.6,
  'C2',
  'S'),
 (153,
  0,
  3,
  'Meo, Mr. Alfonzo',
  'male',
  55.5,
  0,
  0,
  'A.5. 11206',
  8.05,
  None,
  'S'),
 (154,
  0,
  3,
  'van Billiard, Mr. Austin Blyler',
  'male',
  40.5,
  0,
  2,
  'A/5. 851',
  14.5,
  None,
  'S'),
 (155,
  0,
  3,
  'Olsen, Mr. Ole Martin',
  'male',
  None,
  0,
  0,
  'Fa 265302',
  7.3125,
  None,
  'S'),
 (156,
  0,
  1,
  'Williams, Mr. Charles Duane',
  'male',
  51.0,
  0,
  1,
  'PC 17597',
  61.3792,
  None,
  'C'),
 (157,
  1,
  3,
  'Gilnagh, Miss. Katherine "Katie"',
  'female',
  16.0,
  0,
  0,
  '35851',
  7.7333,
  None,
  'Q'),
 (158,
  0,
  3,
  'Corn, Mr. Harry',
  'male',
  30.0,
  0,
  0,
  'SOTON/OQ 392090',
  8.05,
  None,
  'S'),
 (159,
  0,
  3,
  'Smiljanic, Mr. Mile',
  'male',
  None,
  0,
  0,
  '315037',
  8.6625,
  None,
  'S'),
 (160,
  0,
  3,
  'Sage, Master. Thomas Henry',
  'male',
  None,
  8,
  2,
  'CA. 2343',
  69.55,
  None,
  'S'),
 (161,
  0,
  3,
  'Cribb, Mr. John Hatfield',
  'male',
  44.0,
  0,
  1,
  '371362',
  16.1,
  None,
  'S'),
 (162,
  1,
  2,
  'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
  'female',
  40.0,
  0,
  0,
  'C.A. 33595',
  15.75,
  None,
  'S'),
 (163,
  0,
  3,
  'Bengtsson, Mr. John Viktor',
  'male',
  26.0,
  0,
  0,
  '347068',
  7.775,
  None,
  'S'),
 (164,
  0,
  3,
  'Calic, Mr. Jovo',
  'male',
  17.0,
  0,
  0,
  '315093',
  8.6625,
  None,
  'S'),
 (165,
  0,
  3,
  'Panula, Master. Eino Viljami',
  'male',
  1.0,
  4,
  1,
  '3101295',
  39.6875,
  None,
  'S'),
 (166,
  1,
  3,
  'Goldsmith, Master. Frank John William "Frankie"',
  'male',
  9.0,
  0,
  2,
  '363291',
  20.525,
  None,
  'S'),
 (167,
  1,
  1,
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'female',
  None,
  0,
  1,
  '113505',
  55.0,
  'E33',
  'S'),
 (168,
  0,
  3,
  'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
  'female',
  45.0,
  1,
  4,
  '347088',
  27.9,
  None,
  'S'),
 (169,
  0,
  1,
  'Baumann, Mr. John D',
  'male',
  None,
  0,
  0,
  'PC 17318',
  25.925,
  None,
  'S'),
 (170, 0, 3, 'Ling, Mr. Lee', 'male', 28.0, 0, 0, '1601', 56.4958, None, 'S'),
 (171,
  0,
  1,
  'Van der hoef, Mr. Wyckoff',
  'male',
  61.0,
  0,
  0,
  '111240',
  33.5,
  'B19',
  'S'),
 (172,
  0,
  3,
  'Rice, Master. Arthur',
  'male',
  4.0,
  4,
  1,
  '382652',

In [76]:
name_age = [(row[3], row[5]) for row in df.rows()]
name_age[:3]

[('Braund, Mr. Owen Harris', 22.0),
 ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 38.0),
 ('Heikkinen, Miss. Laina', 26.0)]

In [77]:
name_age = [(row[3], row[5]) for row in df.iter_rows()] # reduce memory use
name_age[:3]

[('Braund, Mr. Owen Harris', 22.0),
 ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 38.0),
 ('Heikkinen, Miss. Laina', 26.0)]

In [72]:
nameAge = [(row["Name"],row["Age"]) for row in df.rows(named=True)]
nameAge[:3]

[('Braund, Mr. Owen Harris', 22.0),
 ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 38.0),
 ('Heikkinen, Miss. Laina', 26.0)]

In [73]:
nameAge = [(row["Name"],row["Age"]) for row in df.iter_rows(named=True)]
nameAge[:3]

[('Braund, Mr. Owen Harris', 22.0),
 ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 38.0),
 ('Heikkinen, Miss. Laina', 26.0)]

### User defined functions (`map_elements` and `map_batches`)

#### Element-wise functions

In [78]:
def square(x):
    return x ** 2

In [79]:
(
    df
    .with_columns(
        pl.col('Age').map_elements(square).alias('age_squared')
    )
    .select(
        'Age', 'age_squared'
    )
    .head()
)

/var/folders/rq/s12_p4j17zq3vjxlk04m9ntc0000gn/T/ipykernel_6607/791093300.py:4: PolarsInefficientMapWarning:
Expr.map_elements is significantly slower than the native expressions API.
Only use if you absolutely CANNOT implement your logic otherwise.
Replace this expression...
  - pl.col("Age").map_elements(square)
with this one instead:
  + pl.col("Age") ** 2

  pl.col('Age').map_elements(square).alias('age_squared')
/var/folders/rq/s12_p4j17zq3vjxlk04m9ntc0000gn/T/ipykernel_6607/791093300.py:3: MapWithoutReturnDtypeWarning: Calling `map_elements` without specifying `return_dtype` can lead to unpredictable results. Specify `return_dtype` to silence this warning.
  .with_columns(

shape: (5, 2)
┌──────┬─────────────┐
│ Age  ┆ age_squared │
│ ---  ┆ ---         │
│ f64  ┆ f64         │
╞══════╪═════════════╡
│ 22.0 ┆ 484.0       │
│ 38.0 ┆ 1444.0      │
│ 26.0 ┆ 676.0       │
│ 35.0 ┆ 1225.0      │
│ 35.0 ┆ 1225.0      │
└──────┴─────────────┘

In [80]:
(
    df.with_columns(
        age_squared = pl.col("Age").map_elements(square,return_dtype=pl.Float64)
    )
    .select("Age","age_squared")
    .head()
)

/var/folders/rq/s12_p4j17zq3vjxlk04m9ntc0000gn/T/ipykernel_6607/821846545.py:3: PolarsInefficientMapWarning:
Expr.map_elements is significantly slower than the native expressions API.
Only use if you absolutely CANNOT implement your logic otherwise.
Replace this expression...
  - pl.col("Age").map_elements(square)
with this one instead:
  + pl.col("Age") ** 2

  age_squared = pl.col("Age").map_elements(square,return_dtype=pl.Float64)

shape: (5, 2)
┌──────┬─────────────┐
│ Age  ┆ age_squared │
│ ---  ┆ ---         │
│ f64  ┆ f64         │
╞══════╪═════════════╡
│ 22.0 ┆ 484.0       │
│ 38.0 ┆ 1444.0      │
│ 26.0 ┆ 676.0       │
│ 35.0 ┆ 1225.0      │
│ 35.0 ┆ 1225.0      │
└──────┴─────────────┘

In [83]:
def test(df : pl.DataFrame)->pl.DataFrame:
    return(
        df
        .with_columns(
            (pl.col('Age') ** 2).alias('Age_squared')
        )
    )

In [86]:
(
    df
    .pipe(
        test
    )
    .select(
        'Age', 'Age_squared'
    )
    .head()
)

shape: (5, 2)
┌──────┬─────────────┐
│ Age  ┆ Age_squared │
│ ---  ┆ ---         │
│ f64  ┆ f64         │
╞══════╪═════════════╡
│ 22.0 ┆ 484.0       │
│ 38.0 ┆ 1444.0      │
│ 26.0 ┆ 676.0       │
│ 35.0 ┆ 1225.0      │
│ 35.0 ┆ 1225.0      │
└──────┴─────────────┘

In [87]:
(
    df.with_columns(
        age_squared = pl.col("Age").map_elements(lambda x: x**2,return_dtype=pl.Float64)
    )
    .select("Age","age_squared")
    .head()
)

/var/folders/rq/s12_p4j17zq3vjxlk04m9ntc0000gn/T/ipykernel_6607/3186457226.py:3: PolarsInefficientMapWarning:
Expr.map_elements is significantly slower than the native expressions API.
Only use if you absolutely CANNOT implement your logic otherwise.
Replace this expression...
  - pl.col("Age").map_elements(lambda x: ...)
with this one instead:
  + pl.col("Age") ** 2

  age_squared = pl.col("Age").map_elements(lambda x: x**2,return_dtype=pl.Float64)

shape: (5, 2)
┌──────┬─────────────┐
│ Age  ┆ age_squared │
│ ---  ┆ ---         │
│ f64  ┆ f64         │
╞══════╪═════════════╡
│ 22.0 ┆ 484.0       │
│ 38.0 ┆ 1444.0      │
│ 26.0 ┆ 676.0       │
│ 35.0 ┆ 1225.0      │
│ 35.0 ┆ 1225.0      │
└──────┴─────────────┘

In [91]:
(
    df
    .with_columns(
        pl.col("Age","Fare").map_elements(lambda x: x**2,return_dtype=pl.Float64).name.suffix("_squared")
    )
    .select("Age","Age_squared","Fare","Fare_squared")
    .head()
)

shape: (5, 4)
┌──────┬─────────────┬─────────┬──────────────┐
│ Age  ┆ Age_squared ┆ Fare    ┆ Fare_squared │
│ ---  ┆ ---         ┆ ---     ┆ ---          │
│ f64  ┆ f64         ┆ f64     ┆ f64          │
╞══════╪═════════════╪═════════╪══════════════╡
│ 22.0 ┆ 484.0       ┆ 7.25    ┆ 52.5625      │
│ 38.0 ┆ 1444.0      ┆ 71.2833 ┆ 5081.308859  │
│ 26.0 ┆ 676.0       ┆ 7.925   ┆ 62.805625    │
│ 35.0 ┆ 1225.0      ┆ 53.1    ┆ 2819.61      │
│ 35.0 ┆ 1225.0      ┆ 8.05    ┆ 64.8025      │
└──────┴─────────────┴─────────┴──────────────┘

In [93]:
(
    df
    .select(
        pl.struct(pl.col('Age'), pl.col('Fare'))
    )
)

shape: (891, 1)
┌────────────────┐
│ Age            │
│ ---            │
│ struct[2]      │
╞════════════════╡
│ {22.0,7.25}    │
│ {38.0,71.2833} │
│ {26.0,7.925}   │
│ {35.0,53.1}    │
│ {35.0,8.05}    │
│ …              │
│ {27.0,13.0}    │
│ {19.0,30.0}    │
│ {null,23.45}   │
│ {26.0,30.0}    │
│ {32.0,7.75}    │
└────────────────┘

In [94]:
def sum_age_fare(struct:dict)->float:
    # We check if both values are floats
    if isinstance(struct["Age"],float) and isinstance(struct["Fare"],float):
        # If they are we add them
        return struct["Age"] + struct["Fare"]
    else:
        # If there is a null value return a null
        return None

In [95]:
(
    df
    .with_columns(
        age_fare_summed = pl.struct(pl.col("Age"),pl.col("Fare")).map_elements(sum_age_fare,return_dtype=float)
    )
    .select("Age","Fare","age_fare_summed")
    .head(6)
)

shape: (6, 3)
┌──────┬─────────┬─────────────────┐
│ Age  ┆ Fare    ┆ age_fare_summed │
│ ---  ┆ ---     ┆ ---             │
│ f64  ┆ f64     ┆ f64             │
╞══════╪═════════╪═════════════════╡
│ 22.0 ┆ 7.25    ┆ 29.25           │
│ 38.0 ┆ 71.2833 ┆ 109.2833        │
│ 26.0 ┆ 7.925   ┆ 33.925          │
│ 35.0 ┆ 53.1    ┆ 88.1            │
│ 35.0 ┆ 8.05    ┆ 43.05           │
│ null ┆ 8.4583  ┆ null            │
└──────┴─────────┴─────────────────┘

In [98]:
(
    df
    .with_columns(
        (pl.col('Age') + pl.col('Fare')).alias('sum_age').cast(pl.Float64)
    )
    .select(
        'Age', 'Fare', 'sum_age'
    )
    .head(6)
)

shape: (6, 3)
┌──────┬─────────┬──────────┐
│ Age  ┆ Fare    ┆ sum_age  │
│ ---  ┆ ---     ┆ ---      │
│ f64  ┆ f64     ┆ f64      │
╞══════╪═════════╪══════════╡
│ 22.0 ┆ 7.25    ┆ 29.25    │
│ 38.0 ┆ 71.2833 ┆ 109.2833 │
│ 26.0 ┆ 7.925   ┆ 33.925   │
│ 35.0 ┆ 53.1    ┆ 88.1     │
│ 35.0 ┆ 8.05    ┆ 43.05    │
│ null ┆ 8.4583  ┆ null     │
└──────┴─────────┴──────────┘

#### Numpy ufuncs

In [100]:
(
    df
    .with_columns(
        np.power(pl.col('Age'), 2).alias('age_sq')
    )
    .select(
        'Age', 'age_sq'
    )
    .head()
)

shape: (5, 2)
┌──────┬────────┐
│ Age  ┆ age_sq │
│ ---  ┆ ---    │
│ f64  ┆ f64    │
╞══════╪════════╡
│ 22.0 ┆ 484.0  │
│ 38.0 ┆ 1444.0 │
│ 26.0 ┆ 676.0  │
│ 35.0 ┆ 1225.0 │
│ 35.0 ┆ 1225.0 │
└──────┴────────┘

#### Applying functions to a `Series`
With `map_elements` the function works one-row at a time.

In other cases we want to apply user-defined functions that work on an entire `Series` at once. For this case we use `map_batches`.

In [105]:
def normallize_column(s:pl.Series)->pl.Series:
    mean = s.mean()
    std = s.std()
    return(s-mean)/std

(
    df
    .with_columns(
        pl.col('Age').map_batches(normallize_column).alias('Nor_Age')
    )
    .select(
        'Age', 'Nor_Age'
    )
    .head()
)

shape: (5, 2)
┌──────┬───────────┐
│ Age  ┆ Nor_Age   │
│ ---  ┆ ---       │
│ f64  ┆ f64       │
╞══════╪═══════════╡
│ 22.0 ┆ -0.530005 │
│ 38.0 ┆ 0.57143   │
│ 26.0 ┆ -0.254646 │
│ 35.0 ┆ 0.364911  │
│ 35.0 ┆ 0.364911  │
└──────┴───────────┘