## 05. Selecting and transformations

### Selecting columns using `[]`

In [1]:
import polars as pl
csv_file = './data/titanic.csv'
df = pl.read_csv(csv_file)
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

#### Choosing columns with square brackets

In [2]:
df['Age'].head()

shape: (10,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
	35.0
	35.0
	null
	54.0
	2.0
	27.0
	14.0
]

In [3]:
df[['Survived', 'Age']].head()

shape: (5, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
│ 1        ┆ 35.0 │
│ 0        ┆ 35.0 │
└──────────┴──────┘

`[]`로 하는 indexing은 pandas와 비슷해서 패스...

### Selecting columns : using `select` and expressions

In [4]:
(
    df
    .select(
        'Age', 'Survived'
    )
    .head()
)

shape: (5, 2)
┌──────┬──────────┐
│ Age  ┆ Survived │
│ ---  ┆ ---      │
│ f64  ┆ i64      │
╞══════╪══════════╡
│ 22.0 ┆ 0        │
│ 38.0 ┆ 1        │
│ 26.0 ┆ 1        │
│ 35.0 ┆ 1        │
│ 35.0 ┆ 0        │
└──────┴──────────┘

#### Selecting and transforming a column with an expression

We can apply a transformation to a column before we output it. <p>
In this example we use the `round` expression to round the values of the `Fare` column

In [5]:
(
    df
    .select(
        pl.col('Fare')
    )
    .head()
)

shape: (5, 1)
┌─────────┐
│ Fare    │
│ ---     │
│ f64     │
╞═════════╡
│ 7.25    │
│ 71.2833 │
│ 7.925   │
│ 53.1    │
│ 8.05    │
└─────────┘

In [6]:
(
    df
    .select(
        pl.col('Fare').round(0)
    )
    .head()
)

shape: (5, 1)
┌──────┐
│ Fare │
│ ---  │
│ f64  │
╞══════╡
│ 7.0  │
│ 71.0 │
│ 8.0  │
│ 53.0 │
│ 8.0  │
└──────┘

In [7]:
(
    df
    .select(
        pl.col('Fare').round(0).alias('roundedFare') # .alias로 이름 변경까지...
    )
    .head()
)

shape: (5, 1)
┌─────────────┐
│ roundedFare │
│ ---         │
│ f64         │
╞═════════════╡
│ 7.0         │
│ 71.0        │
│ 8.0         │
│ 53.0        │
│ 8.0         │
└─────────────┘

In [8]:
(
    df
    .select(
        pl.col('Fare'),
        pl.col('Fare').round(0).alias('roundedFare')
        # , 으로 여러개 선택 가능..
    )
    .head(3)
)

shape: (3, 2)
┌─────────┬─────────────┐
│ Fare    ┆ roundedFare │
│ ---     ┆ ---         │
│ f64     ┆ f64         │
╞═════════╪═════════════╡
│ 7.25    ┆ 7.0         │
│ 71.2833 ┆ 71.0        │
│ 7.925   ┆ 8.0         │
└─────────┴─────────────┘

In [10]:
# single value
(
    df
    .select(
        pl.col('Name').first()
    )
    .item() # 값만 출력 오직 (1, 1) shape만 가능!!!
)

'Braund, Mr. Owen Harris'

In [14]:
(
    df
    .select(
        'Name'
    )
    .to_series()
    .to_list()
)

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Saundercock, Mr. William Henry',
 'Andersson, Mr. Anders Johan',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Rice, Master. Eugene',
 'Williams, Mr. Charles Eugene',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'Fynney, Mr. Joseph J',
 'Beesley, Mr. Lawrence',
 'McGowan, Miss. Anna "Annie"',
 'Sloper, Mr. William Thompson',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Emir, Mr. Farred Chehab',
 'Fortune, Mr. Charles Alexander',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Todoroff, Mr. Lalio',
 'Uruchurtu, Don. Manuel E',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Wheadon, Mr. Edward H',
 'Meyer, Mr. Edgar Joseph',
 'Holverson, Mr. Alexander Oskar',
 'Mamee, Mr. Hanna',
 'Cann, Mr. Ernest Charles',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Kraeff, Mr. Theodor',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 'Rogers, Mr. William John',
 'Lennon, Mr. Denis',
 "O'Driscoll, Miss. Bridget",
 'Samaan, Mr. Youssef',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Panula, Master. Juha Niilo',
 'Nosworthy, Mr. Richard Cater',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Ostby, Mr. Engelhart Cornelius',
 'Woolner, Mr. Hugh',
 'Rugg, Miss. Emily',
 'Novel, Mr. Mansouer',
 'West, Miss. Constance Mirium',
 'Goodwin, Master. William Frederick',
 'Sirayanian, Mr. Orsen',
 'Icard, Miss. Amelie',
 'Harris, Mr. Henry Birkhardt',
 'Skoog, Master. Harald',
 'Stewart, Mr. Albert A',
 'Moubarek, Master. Gerios',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Crease, Mr. Ernest James',
 'Andersson, Miss. Erna Alexandra',
 'Kink, Mr. Vincenz',
 'Jenkin, Mr. Stephen Curnow',
 'Goodwin, Miss. Lillian Amy',
 'Hood, Mr. Ambrose Jr',
 'Chronopoulos, Mr. Apostolos',
 'Bing, Mr. Lee',
 'Moen, Mr. Sigurd Hansen',
 'Staneff, Mr. Ivan',
 'Moutal, Mr. Rahamin Haim',
 'Caldwell, Master. Alden Gates',
 'Dowdell, Miss. Elizabeth',
 'Waelens, Mr. Achille',
 'Sheerlinck, Mr. Jan Baptist',
 'McDermott, Miss. Brigdet Delia',
 'Carrau, Mr. Francisco M',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Ford, Mr. William Neal',
 'Slocovski, Mr. Selman Francis',
 'Fortune, Miss. Mabel Helen',
 'Celotti, Mr. Francesco',
 'Christmann, Mr. Emil',
 'Andreasson, Mr. Paul Edvin',
 'Chaffee, Mr. Herbert Fuller',
 'Dean, Mr. Bertram Frank',
 'Coxon, Mr. Daniel',
 'Shorney, Mr. Charles Joseph',
 'Goldschmidt, Mr. George B',
 'Greenfield, Mr. William Bertram',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Kantor, Mr. Sinai',
 'Petranec, Miss. Matilda',
 'Petroff, Mr. Pastcho ("Pentcho")',
 'White, Mr. Richard Frasar',
 'Johansson, Mr. Gustaf Joel',
 'Gustafsson, Mr. Anders Vilhelm',
 'Mionoff, Mr. Stoytcho',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moss, Mr. Albert Johan',
 'Rekic, Mr. Tido',
 'Moran, Miss. Bertha',
 'Porter, Mr. Walter Chamberlain',
 'Zabour, Miss. Hileni',
 'Barton, Mr. David John',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Pekoniemi, Mr. Edvard',
 'Connors, Mr. Patrick',
 'Turpin, Mr. William John Robert',
 'Baxter, Mr. Quigg Edmond',
 'Andersson, Miss. Ellis Anna Maria',
 'Hickman, Mr. Stanley George',
 'Moore, Mr. Leonard Charles',
 'Nasser, Mr. Nicholas',
 'Webber, Miss. Susan',
 'White, Mr. Percival Wayland',
 'Nicola-Yarred, Master. Elias',
 'McMahon, Mr. Martin',
 'Madsen, Mr. Fridtjof Arne',
 'Peter, Miss. Anna',
 'Ekstrom, Mr. Johan',
 'Drazenoic, Mr. Jozef',
 'Coelho, Mr. Domingos Fernandeo',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Sobey, Mr. Samuel James Hayden',
 'Richard, Mr. Emile',
 'Newsom, Miss. Helen Monypeny',
 'Futrelle, Mr. Jacques Heath',
 'Osen, Mr. Olaf Elon',
 'Giglio, Mr. Victor',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Burke, Mr. Jeremiah',
 'Andrew, Mr. Edgardo Samuel',
 'Nicholls, Mr. Joseph Charles',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Navratil, Mr. Michel ("Louis M Hoffman")',
 'Byles, Rev. Thomas Roussel Davids',
 'Bateman, Rev. Robert James',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Meo, Mr. Alfonzo',
 'van Billiard, Mr. Austin Blyler',
 'Olsen, Mr. Ole Martin',
 'Williams, Mr. Charles Duane',
 'Gilnagh, Miss. Katherine "Katie"',
 'Corn, Mr. Harry',
 'Smiljanic, Mr. Mile',
 'Sage, Master. Thomas Henry',
 'Cribb, Mr. John Hatfield',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Bengtsson, Mr. John Viktor',
 'Calic, Mr. Jovo',
 'Panula, Master. Eino Viljami',
 'Goldsmith, Master. Frank John William "Frankie"',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Baumann, Mr. John D',
 'Ling, Mr. Lee',
 'Van der hoef, Mr. Wyckoff',
 'Rice, Master. Arthur',
 'Johnson, Miss. Eleanor Ileen',
 'Sivola, Mr. Antti Wilhelm',
 'Smith, Mr. James Clinch',
 'Klasen, Mr. Klas Albin',
 'Lefebre, Master. Henry Forbes',
 'Isham, Miss. Ann Elizabeth',
 'Hale, Mr. Reginald',
 'Leonard, Mr. Lionel',
 'Sage, Miss. Constance Gladys',
 'Pernot, Mr. Rene',
 'Asplund, Master. Clarence Gustaf Hugo',
 'Becker, Master. Richard F',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Rood, Mr. Hugh Roscoe',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Bourke, Mr. John',
 'Turcin, Mr. Stjepan',
 'Pinsky, Mrs. (Rosa)',
 'Carbines, Mr. William',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Navratil, Master. Michel M',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Mernagh, Mr. Robert',
 'Olsen, Mr. Karl Siegwart Andreas',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Vande Walle, Mr. Nestor Cyriel',
 'Sage, Mr. Frederick',
 'Johanson, Mr. Jakob Alfred',
 'Youseff, Mr. Gerious',
 'Cohen, Mr. Gurshon "Gus"',
 'Strom, Miss. Telma Matilda',
 'Backstrom, Mr. Karl Alfred',
 'Albimona, Mr. Nassef Cassem',
 'Carr, Miss. Helen "Ellen"',
 'Blank, Mr. Henry',
 'Ali, Mr. Ahmed',
 'Cameron, Miss. Clear Annie',
 'Perkin, Mr. John Henry',
 'Givard, Mr. Hans Kristensen',
 'Kiernan, Mr. Philip',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Jacobsohn, Mr. Sidney Samuel',
 'Bazzani, Miss. Albina',
 'Harris, Mr. Walter',
 'Sunderland, Mr. Victor Francis',
 'Bracken, Mr. James H',
 'Green, Mr. George Henry',
 'Nenkoff, Mr. Christo',
 'Hoyt, Mr. Frederick Maxfield',
 'Berglund, Mr. Karl Ivar Sven',
 'Mellors, Mr. William John',
 'Lovell, Mr. John Hall ("Henry")',
 'Fahlstrom, Mr. Arne Jonas',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Larsson, Mr. Bengt Edvin',
 'Sjostedt, Mr. Ernst Adolf',
 'Asplund, Miss. Lillian Gertrud',
 'Leyson, Mr. Robert William Norman',
 'Harknett, Miss. Alice Phoebe',
 'Hold, Mr. Stephen',
 'Collyer, Miss. Marjorie "Lottie"',
 'Pengelly, Mr. Frederick William',
 'Hunt, Mr. George Henry',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Coleridge, Mr. Reginald Charles',
 'Maenpaa, Mr. Matti Alexanteri',
 'Attalah, Mr. Sleiman',
 'Minahan, Dr. William Edward',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Beckwith, Mr. Richard Leonard',
 'Carter, Rev. Ernest Courtenay',
 'Reed, Mr. James George',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Stead, Mr. William Thomas',
 'Lobb, Mr. William Arthur',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Smith, Mr. Thomas',
 'Asplund, Master. Edvin Rojj Felix',
 'Taussig, Mr. Emil',
 'Harrison, Mr. William',
 'Henry, Miss. Delia',
 'Reeves, Mr. David',
 'Panula, Mr. Ernesti Arvid',
 'Persson, Mr. Ernst Ulrik',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Cairns, Mr. Alexander',
 'Tornquist, Mr. William Henry',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Natsch, Mr. Charles H',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Parkes, Mr. Francis "Frank"',
 'Rice, Master. Eric',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Duane, Mr. Frank',
 'Olsson, Mr. Nils Johan Goransson',
 'de Pelsmaeker, Mr. Alfons',
 'Dorking, Mr. Edward Arthur',
 'Smith, Mr. Richard William',
 'Stankovic, Mr. Ivan',
 'de Mulder, Mr. Theodore',
 'Naidenoff, Mr. Penko',
 'Hosono, Mr. Masabumi',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Levy, Mr. Rene Jacques',
 'Haas, Miss. Aloisia',
 'Mineff, Mr. Ivan',
 'Lewy, Mr. Ervin G',
 'Hanna, Mr. Mansour',
 'Allison, Miss. Helen Loraine',
 'Saalfeld, Mr. Adolphe',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'McCoy, Mr. Bernard',
 'Johnson, Mr. William Cahoone Jr',
 'Keane, Miss. Nora A',
 'Williams, Mr. Howard Hugh "Harry"',
 'Allison, Master. Hudson Trevor',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Abelson, Mr. Samuel',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Hendekovic, Mr. Ignjac',
 'Hart, Mr. Benjamin',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Moraweck, Dr. Ernest',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Dennis, Mr. Samuel',
 'Danoff, Mr. Yoto',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Sage, Mr. George John Jr',
 'Young, Miss. Marie Grice',
 'Nysveen, Mr. Johan Hansen',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Partner, Mr. Austen',
 'Graham, Mr. George Edward',
 'Vander Planke, Mr. Leo Edmondus',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Denkoff, Mr. Mitto',
 'Pears, Mr. Thomas Clinton',
 'Burns, Miss. Elizabeth Margaret',
 'Dahl, Mr. Karl Edwart',
 'Blackwell, Mr. Stephen Weart',
 'Navratil, Master. Edmond Roger',
 'Fortune, Miss. Alice Elizabeth',
 'Collander, Mr. Erik Gustaf',
 'Sedgwick, Mr. Charles Frederick Waddington',
 'Fox, Mr. Stanley Hubert',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Coutts, Master. William Loch "William"',
 'Dimic, Mr. Jovan',
 'Odahl, Mr. Nils Martin',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Elias, Mr. Tannous',
 'Arnold-Franchi, Mr. Josef',
 'Yousif, Mr. Wazli',
 'Vanden Steen, Mr. Leo Peter',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Skoog, Mr. Wilhelm',
 'del Carlo, Mr. Sebastiano',
 'Barbara, Mrs. (Catherine David)',
 'Asim, Mr. Adola',
 "O'Brien, Mr. Thomas",
 'Adahl, Mr. Mauritz Nils Martin',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Harder, Mr. George Achilles',
 'Wiklund, Mr. Jakob Alfred',
 'Beavan, Mr. William Thomas',
 'Ringhini, Mr. Sante',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Widener, Mr. Harry Elkins',
 'Betros, Mr. Tannous',
 'Gustafsson, Mr. Karl Gideon',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Tikkanen, Mr. Juho',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Plotcharsky, Mr. Vasil',
 'Davies, Mr. Charles Henry',
 'Goodwin, Master. Sidney Leonard',
 'Buss, Miss. Kate',
 'Sadlier, Mr. Matthew',
 'Lehmann, Miss. Bertha',
 'Carter, Mr. William Ernest',
 'Jansson, Mr. Carl Olof',
 'Gustafsson, Mr. Johan Birger',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Johansson, Mr. Erik',
 'Olsson, Miss. Elina',
 'McKane, Mr. Peter David',
 'Pain, Dr. Alfred',
 'Trout, Mrs. William H (Jessie L)',
 'Niskanen, Mr. Juha',
 'Adams, Mr. John',
 'Jussila, Miss. Mari Aina',
 'Hakkarainen, Mr. Pekka Pietari',
 'Oreskovic, Miss. Marija',
 'Gale, Mr. Shadrach',
 'Widegren, Mr. Carl/Charles Peter',
 'Richards, Master. William Rowe',
 'Birkeland, Mr. Hans Martin Monsen',
 'Lefebre, Miss. Ida',
 'Sdycoff, Mr. Todor',
 'Hart, Mr. Henry',
 'Minahan, Miss. Daisy E',
 'Cunningham, Mr. Alfred Fleming',
 'Sundman, Mr. Johan Julian',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Matthews, Mr. William John',
 'Van Impe, Miss. Catharina',
 'Gheorgheff, Mr. Stanio',
 'Charters, Mr. David',
 'Zimmerman, Mr. Leo',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Rosblom, Mr. Viktor Richard',
 'Wiseman, Mr. Phillippe',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Flynn, Mr. James',
 'Pickard, Mr. Berk (Berk Trembisky)',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Kallio, Mr. Nikolai Erland',
 'Silvey, Mr. William Baird',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Fortune, Mr. Mark',
 'Kvillner, Mr. Johan Henrik Johannesson',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Hampe, Mr. Leon',
 'Petterson, Mr. Johan Emil',
 'Reynaldo, Ms. Encarnacion',
 'Johannesen-Bratthammer, Mr. Bernt',
 'Dodge, Master. Washington',
 'Mellinger, Miss. Madeleine Violet',
 'Seward, Mr. Frederic Kimber',
 'Baclini, Miss. Marie Catherine',
 'Peuchen, Major. Arthur Godfrey',
 'West, Mr. Edwy Arthur',
 'Hagland, Mr. Ingvald Olai Olsen',
 'Foreman, Mr. Benjamin Laventall',
 'Goldenberg, Mr. Samuel L',
 'Peduzzi, Mr. Joseph',
 'Jalsevac, Mr. Ivan',
 'Millet, Mr. Francis Davis',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 "O'Connor, Mr. Maurice",
 'Anderson, Mr. Harry',
 'Morley, Mr. William',
 'Gee, Mr. Arthur H',
 'Milling, Mr. Jacob Christian',
 'Maisner, Mr. Simon',
 'Goncalves, Mr. Manuel Estanslas',
 'Campbell, Mr. William',
 'Smart, Mr. John Montgomery',
 'Scanlan, Mr. James',
 'Baclini, Miss. Helene Barbara',
 'Keefe, Mr. Arthur',
 'Cacic, Mr. Luka',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Clifford, Mr. George Quincy',
 'Renouf, Mr. Peter Henry',
 'Braund, Mr. Lewis Richard',
 'Karlsson, Mr. Nils August',
 'Hirvonen, Miss. Hildur E',
 'Goodwin, Master. Harold Victor',
 'Frost, Mr. Anthony Wood "Archie"',
 'Rouse, Mr. Richard Henry',
 'Turkula, Mrs. (Hedwig)',
 'Bishop, Mr. Dickinson H',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Kent, Mr. Edward Austin',
 'Somerton, Mr. Francis William',
 'Coutts, Master. Eden Leslie "Neville"',
 'Hagland, Mr. Konrad Mathias Reiersen',
 'Windelov, Mr. Einar',
 'Molson, Mr. Harry Markland',
 'Artagaveytia, Mr. Ramon',
 'Stanley, Mr. Edward Roland',
 'Yousseff, Mr. Gerious',
 'Eustis, Miss. Elizabeth Mussey',
 'Shellard, Mr. Frederick William',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Svensson, Mr. Olof',
 'Calic, Mr. Petar',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Bradley, Mr. George ("George Arthur Brayton")',
 'Olsen, Mr. Henry Margido',
 'Lang, Mr. Fang',
 'Daly, Mr. Eugene Patrick',
 'Webber, Mr. James',
 'McGough, Mr. James Robert',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Coleff, Mr. Satio',
 'Walker, Mr. William Anderson',
 'Lemore, Mrs. (Amelia Milley)',
 'Ryan, Mr. Patrick',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Pavlovic, Mr. Stefo',
 'Perreault, Miss. Anne',
 'Vovk, Mr. Janko',
 'Lahoud, Mr. Sarkis',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Kassem, Mr. Fared',
 'Farrell, Mr. James',
 'Ridsdale, Miss. Lucy',
 'Farthing, Mr. John',
 'Salonen, Mr. Johan Werner',
 'Hocking, Mr. Richard George',
 'Quick, Miss. Phyllis May',
 'Toufik, Mr. Nakli',
 'Elias, Mr. Joseph Jr',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'Butt, Major. Archibald Willingham',
 'LeRoy, Miss. Bertha',
 'Risien, Mr. Samuel Beard',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mr. Edward',
 'Douglas, Mr. Walter Donald',
 'Nicholson, Mr. Arthur Ernest',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Padro y Manent, Mr. Julian',
 'Goldsmith, Mr. Frank John',
 'Davies, Master. John Morgan Jr',
 'Thayer, Mr. John Borland Jr',
 'Sharp, Mr. Percival James R',
 "O'Brien, Mr. Timothy",
 'Leeni, Mr. Fahim ("Philip Zenni")',
 'Ohman, Miss. Velin',
 'Wright, Mr. George',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Robbins, Mr. Victor',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Morrow, Mr. Thomas Rowan',
 'Sivic, Mr. Husein',
 'Norman, Mr. Robert Douglas',
 'Simmons, Mr. John',
 'Meanwell, Miss. (Marion Ogden)',
 'Davies, Mr. Alfred J',
 'Stoytcheff, Mr. Ilia',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Doharr, Mr. Tannous',
 'Jonsson, Mr. Carl',
 'Harris, Mr. George',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Flynn, Mr. John Irwin ("Irving")',
 'Kelly, Miss. Mary',
 'Rush, Mr. Alfred George John',
 'Patchett, Mr. George',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Jussila, Mr. Eiriik',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Downton, Mr. William James',
 'Ross, Mr. John Hugo',
 'Paulner, Mr. Uscher',
 'Taussig, Miss. Ruth',
 'Jarvis, Mr. John Denzil',
 'Frolicher-Stehli, Mr. Maxmillian',
 'Gilinski, Mr. Eliezer',
 'Murdlin, Mr. Joseph',
 'Rintamaki, Mr. Matti',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Elsbury, Mr. William James',
 'Bourke, Miss. Mary',
 'Chapman, Mr. John Henry',
 'Van Impe, Mr. Jean Baptiste',
 'Leitch, Miss. Jessie Wills',
 'Johnson, Mr. Alfred',
 'Boulos, Mr. Hanna',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Slabenoff, Mr. Petco',
 'Harrington, Mr. Charles H',
 'Torber, Mr. Ernst William',
 'Homer, Mr. Harry ("Mr E Haven")',
 'Lindell, Mr. Edvard Bengtsson',
 'Karaic, Mr. Milan',
 'Daniel, Mr. Robert Williams',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Jardin, Mr. Jose Neto',
 'Murphy, Miss. Margaret Jane',
 'Horgan, Mr. John',
 'Brocklebank, Mr. William Alfred',
 'Herman, Miss. Alice',
 'Danbom, Mr. Ernst Gilbert',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Gavey, Mr. Lawrence',
 'Yasbeck, Mr. Antoni',
 'Kimball, Mr. Edwin Nelson Jr',
 'Nakid, Mr. Sahid',

### Selecting columns : selecting multiple columns

In [15]:
import polars.selectors as cs # columns selecting 할 때 도움을 주는 API 불러오기

In [17]:
# 모든 columns 선택
(
    df
    .select(
        pl.all()
    )
    .head()
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [18]:
# 특정 열 제외
(
    df
    .select(
        pl.exclude('Age', 'Survived', 'Pclass')
    )
    .head()
)

shape: (5, 9)
┌─────────────┬──────────────────────┬────────┬───────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Name                 ┆ Sex    ┆ SibSp ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---                  ┆ ---    ┆ ---   ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ str                  ┆ str    ┆ i64   ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════════════════╪════════╪═══════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ Braund, Mr. Owen     ┆ male   ┆ 1     ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆ Harris               ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ Cumings, Mrs. John   ┆ female ┆ 1     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆ Bradley (Fl…         ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ Heikkinen, Miss.     ┆ female ┆ 0     ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆ Laina                ┆        ┆       ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ Futrelle, Mrs.       ┆ female ┆ 1     ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆ Jacques Heath (…     ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ Allen, Mr. William   ┆ male   ┆ 0     ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆ Henry                ┆        ┆       ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────────────────┴────────┴───────┴───┴───────────┴─────────┴───────┴──────────┘

#### Selecting columns with a regex

regex starts with `^` and ends with `$` <p>
looks for columns starting with `P` and uses the regex wildcard `.*` to show `P` can be followed by any character.

In [19]:
(
    df
    .select(
        "^P.*$"
    )
    .head(3)
)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [20]:
# regex can apply transformation to thees columns.
(
    df
    .select(
        pl.col("^P.*$").max()
    )
)

shape: (1, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 891         ┆ 3      ┆ 6     │
└─────────────┴────────┴───────┘

#### Selecting columns based on dtype.

In [21]:
(
    df
    .select(
        pl.col(pl.Utf8)
    )
    .head()
)

shape: (5, 5)
┌─────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str              ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 113803           ┆ C123  ┆ S        │
│ Allen, Mr. William Henry        ┆ male   ┆ 373450           ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

In [22]:
(
    df
    .select(
        pl.col([pl.Utf8, pl.Float64])
    )
    .head()
)

shape: (5, 7)
┌─────────────────────────────────┬────────┬──────┬──────────────────┬─────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---  ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════╪══════════════════╪═════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 35.0 ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────┴──────────────────┴─────────┴───────┴──────────┘

### Selecting columns: Transforming and adding a column

* transform an `existing column` in place using `with_columns`
* add a columns with constant values using `pl.lit`

#### Transforming an existing column

In [24]:
(
    df
    .with_columns(
        pl.col('Fare').round(0)
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ A/5 21171 ┆ 7.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris               ┆   ┆           ┆      ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ PC 17599  ┆ 71.0 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…         ┆   ┆           ┆      ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ STON/O2.  ┆ 8.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina                ┆   ┆ 3101282   ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

* select에서 변경하면 'fare'만 나오는데
* with_columns에서 변경하면 fare와 함께 모든 컬럼 나옴.

#### Adding a new column from an existing column

We can create a new column from an existing column by renaming it with `alias`

In [25]:
(
    df
    .with_columns(
        pl.col('Fare').round(0).alias('컬럼이름변경') # 기존 컬럼은 남아있고 변경된 컬럼이 새로운 이름이 생겨서 따로 생긴다.
    )
    .head()
)

shape: (5, 13)
┌─────────────┬──────────┬────────┬────────────────┬───┬─────────┬───────┬──────────┬──────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name           ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ 컬럼이름변경 │
│ ---         ┆ ---      ┆ ---    ┆ ---            ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---          │
│ i64         ┆ i64      ┆ i64    ┆ str            ┆   ┆ f64     ┆ str   ┆ str      ┆ f64          │
╞═════════════╪══════════╪════════╪════════════════╪═══╪═════════╪═══════╪══════════╪══════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.    ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0          │
│             ┆          ┆        ┆ Owen Harris    ┆   ┆         ┆       ┆          ┆              │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.  ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0         │
│             ┆          ┆        ┆ John Bradley   ┆   ┆         ┆       ┆          ┆              │
│             ┆          ┆        ┆ (Fl…           ┆   ┆         ┆       ┆          ┆              │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,     ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0          │
│             ┆          ┆        ┆ Miss. Laina    ┆   ┆         ┆       ┆          ┆              │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 53.0         │
│             ┆          ┆        ┆ Jacques Heath  ┆   ┆         ┆       ┆          ┆              │
│             ┆          ┆        ┆ (…             ┆   ┆         ┆       ┆          ┆              │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.     ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 8.0          │
│             ┆          ┆        ┆ William Henry  ┆   ┆         ┆       ┆          ┆              │
└─────────────┴──────────┴────────┴────────────────┴───┴─────────┴───────┴──────────┴──────────────┘

In [26]:
(
    df
    .with_columns(
        (pl.col('Age') + pl.col('Fare')).alias('AgePlusFare')
    )
    .head(3)
)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ AgePlusFare │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

#### Adding a new column with a constant value

`pl.lit(값)` => 고정된 값을 모든 행에 적용할 때 사용

In [27]:
(
    df
    .with_columns(
        pl.lit("yes").alias('aboard')
    )
    .select(
        'Name', 'aboard'
    )
    .head()
)

shape: (5, 2)
┌─────────────────────────────────┬────────┐
│ Name                            ┆ aboard │
│ ---                             ┆ ---    │
│ str                             ┆ str    │
╞═════════════════════════════════╪════════╡
│ Braund, Mr. Owen Harris         ┆ yes    │
│ Cumings, Mrs. John Bradley (Fl… ┆ yes    │
│ Heikkinen, Miss. Laina          ┆ yes    │
│ Futrelle, Mrs. Jacques Heath (… ┆ yes    │
│ Allen, Mr. William Henry        ┆ yes    │
└─────────────────────────────────┴────────┘

### Selecting columns: Transforming and adding multiple columns

In [31]:
(
    df
    .with_columns(
        (pl.col('Age') + pl.col('Fare')).alias('AgePlusFare'),
        pl.col('Fare').round(0)
    )
    .select(
        'Age', 'Fare', 'AgePlusFare'
    )
    .head()
)

shape: (5, 3)
┌──────┬──────┬─────────────┐
│ Age  ┆ Fare ┆ AgePlusFare │
│ ---  ┆ ---  ┆ ---         │
│ f64  ┆ f64  ┆ f64         │
╞══════╪══════╪═════════════╡
│ 22.0 ┆ 7.0  ┆ 29.25       │
│ 38.0 ┆ 71.0 ┆ 109.2833    │
│ 26.0 ┆ 8.0  ┆ 33.925      │
│ 35.0 ┆ 53.0 ┆ 88.1        │
│ 35.0 ┆ 8.0  ┆ 43.05       │
└──────┴──────┴─────────────┘

In [32]:
(
    df
    .with_columns(
        pl.col(pl.Float64).round(0).name.suffix("_round")
    )
    .select(
        'Age', 'Age_round', 'Fare', 'Fare_round'
    )
    .head()
)

shape: (5, 4)
┌──────┬───────────┬─────────┬────────────┐
│ Age  ┆ Age_round ┆ Fare    ┆ Fare_round │
│ ---  ┆ ---       ┆ ---     ┆ ---        │
│ f64  ┆ f64       ┆ f64     ┆ f64        │
╞══════╪═══════════╪═════════╪════════════╡
│ 22.0 ┆ 22.0      ┆ 7.25    ┆ 7.0        │
│ 38.0 ┆ 38.0      ┆ 71.2833 ┆ 71.0       │
│ 26.0 ┆ 26.0      ┆ 7.925   ┆ 8.0        │
│ 35.0 ┆ 35.0      ┆ 53.1    ┆ 53.0       │
│ 35.0 ┆ 35.0      ┆ 8.05    ┆ 8.0        │
└──────┴───────────┴─────────┴────────────┘

### Selecting columns: Adding a new columns based on mapping or condition

#### Add a new column based on a mapping from another column

In [37]:
(
    df
    .select(
        'Embarked'
    )
    .unique()
)

shape: (4, 1)
┌──────────┐
│ Embarked │
│ ---      │
│ str      │
╞══════════╡
│ C        │
│ null     │
│ S        │
│ Q        │
└──────────┘

In [39]:
# replace the values

replace_dict = {
    "S" : "Southampton",
    "C" : "Cherbourg"
}

(
    df
    .with_columns(
        pl.col("Embarked").replace(replace_dict).alias("Embarked_full")
    )
    .select(
        "Embarked", "Embarked_full"
    )
    .head(5)
)

shape: (5, 2)
┌──────────┬───────────────┐
│ Embarked ┆ Embarked_full │
│ ---      ┆ ---           │
│ str      ┆ str           │
╞══════════╪═══════════════╡
│ S        ┆ Southampton   │
│ C        ┆ Cherbourg     │
│ S        ┆ Southampton   │
│ S        ┆ Southampton   │
│ S        ┆ Southampton   │
└──────────┴───────────────┘

In [40]:
# repalce value to other dtypes
replace_dict = {
    1:'first',
    2:'second',
    3:'third'
}

(
    df
    .with_columns(
        pl.col('Pclass').replace_strict(replace_dict, return_dtype=pl.String).alias('class_name')
    )
    .select(
        'Pclass', 'class_name'
    )
    .head()
)

shape: (5, 2)
┌────────┬────────────┐
│ Pclass ┆ class_name │
│ ---    ┆ ---        │
│ i64    ┆ str        │
╞════════╪════════════╡
│ 3      ┆ third      │
│ 1      ┆ first      │
│ 3      ┆ third      │
│ 1      ┆ first      │
│ 3      ┆ third      │
└────────┴────────────┘

#### Add a new column based on a condition on another column

`pl.when.then.otherwise` -> define a new column based on a condition on nore or more other columns.

In [47]:
(
    df
    .select(
        pl.all(),
        pl.when(pl.col('Pclass') == 1)
        .then(1)
        .otherwise(0)
        .alias("First_class?")
    )
    .select(
        pl.col('Pclass'), pl.col('First_class?')
    )
    .head()
)

shape: (5, 2)
┌────────┬──────────────┐
│ Pclass ┆ First_class? │
│ ---    ┆ ---          │
│ i64    ┆ i32          │
╞════════╪══════════════╡
│ 3      ┆ 0            │
│ 1      ┆ 1            │
│ 3      ┆ 0            │
│ 1      ┆ 1            │
│ 3      ┆ 0            │
└────────┴──────────────┘

In [48]:
(
    df
    .select(
        "Pclass",
        pl.when(
             pl.col("Pclass") == 1
        )
        .then(pl.lit("first"))
        .otherwise(pl.lit("not_first"))
        .alias("first_class")
    )
    .select("Pclass","first_class")
    .head(2)
)

shape: (2, 2)
┌────────┬─────────────┐
│ Pclass ┆ first_class │
│ ---    ┆ ---         │
│ i64    ┆ str         │
╞════════╪═════════════╡
│ 3      ┆ not_first   │
│ 1      ┆ first       │
└────────┴─────────────┘

In [50]:
(
    df
    .select(
        pl.col("Pclass"),
        pl.col('Age'),
        pl.when(
            pl.col('Pclass') == 1,
            pl.col('Age') < 30
        )
        .then(1)
        .otherwise(0)
        .alias("new")
    )
    .tail()
)

shape: (5, 3)
┌────────┬──────┬─────┐
│ Pclass ┆ Age  ┆ new │
│ ---    ┆ ---  ┆ --- │
│ i64    ┆ f64  ┆ i32 │
╞════════╪══════╪═════╡
│ 2      ┆ 27.0 ┆ 0   │
│ 1      ┆ 19.0 ┆ 1   │
│ 3      ┆ null ┆ 0   │
│ 1      ┆ 26.0 ┆ 1   │
│ 3      ┆ 32.0 ┆ 0   │
└────────┴──────┴─────┘

In [51]:
(
    df
    .select(
        pl.col("Pclass"),
        pl.col("Age"),
        pl.when(
            pl.col("Pclass") == 1,
            pl.col("Age")<30
        )
        .then(1)
        .when(
            pl.col("Pclass") == 1,
            pl.col("Age")>=30
        )
        .then(2)
        .otherwise(0)
        .alias("age_class")
    )
    .head(5)
)

shape: (5, 3)
┌────────┬──────┬───────────┐
│ Pclass ┆ Age  ┆ age_class │
│ ---    ┆ ---  ┆ ---       │
│ i64    ┆ f64  ┆ i32       │
╞════════╪══════╪═══════════╡
│ 3      ┆ 22.0 ┆ 0         │
│ 1      ┆ 38.0 ┆ 2         │
│ 3      ┆ 26.0 ┆ 0         │
│ 1      ┆ 35.0 ┆ 2         │
│ 3      ┆ 35.0 ┆ 0         │
└────────┴──────┴───────────┘

### Sorting